@font-face {
    font-family: 'pf_din_text_cond_proBdIt';
    src: url('../fonts/pfdintextcondpro-boldital-webfont.eot');
    src: url('../fonts/pfdintextcondpro-boldital-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcondpro-boldital-webfont.woff') format('woff'),
    url('../fonts/pfdintextcondpro-boldital-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextcondpro-boldital-webfont.svg#pf_din_text_cond_proBdIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_din_text_cond_proXBlk';
    src: url('../fonts/pfdintextcondpro-xblack-webfont.eot');
    src: url('../fonts/pfdintextcondpro-xblack-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcondpro-xblack-webfont.woff') format('woff'),
    url('../fonts/pfdintextcondpro-xblack-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextcondpro-xblack-webfont.svg#pf_din_text_cond_proXBlk') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_din_text_cond_prothin';
    src: url('../fonts/pfdintextcondpro-thin-webfont.eot');
    src: url('../fonts/pfdintextcondpro-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcondpro-thin-webfont.woff') format('woff'),
    url('../fonts/pfdintextcondpro-thin-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextcondpro-thin-webfont.svg#pf_din_text_cond_prothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_din_text_cond_proThIt';
    src: url('../fonts/pfdintextcondpro-thinital-webfont.eot');
    src: url('../fonts/pfdintextcondpro-thinital-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcondpro-thinital-webfont.woff') format('woff'),
    url('../fonts/pfdintextcondpro-thinital-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextcondpro-thinital-webfont.svg#pf_din_text_cond_proThIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_din_text_cond_promedium';
    src: url('../fonts/pfdintextcondpro-medium-webfont.eot');
    src: url('../fonts/pfdintextcondpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcondpro-medium-webfont.woff') format('woff'),
    url('../fonts/pfdintextcondpro-medium-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextcondpro-medium-webfont.svg#pf_din_text_cond_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_din_text_cond_proLtIt';
    src: url('../fonts/pfdintextcondpro-lightital-webfont.eot');
    src: url('../fonts/pfdintextcondpro-lightital-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcondpro-lightital-webfont.woff') format('woff'),
    url('../fonts/pfdintextcondpro-lightital-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextcondpro-lightital-webfont.svg#pf_din_text_cond_proLtIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_din_text_cond_proMdIt';
    src: url('../fonts/pfdintextcondpro-medital-webfont.eot');
    src: url('../fonts/pfdintextcondpro-medital-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcondpro-medital-webfont.woff') format('woff'),
    url('../fonts/pfdintextcondpro-medital-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextcondpro-medital-webfont.svg#pf_din_text_cond_proMdIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_din_text_cond_prolight';
    src: url('../fonts/pfdintextcondpro-light-webfont.eot');
    src: url('../fonts/pfdintextcondpro-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcondpro-light-webfont.woff') format('woff'),
    url('../fonts/pfdintextcondpro-light-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextcondpro-light-webfont.svg#pf_din_text_cond_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_din_text_cond_proitalic';
    src: url('../fonts/pfdintextcondpro-italic-webfont.eot');
    src: url('../fonts/pfdintextcondpro-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcondpro-italic-webfont.woff') format('woff'),
    url('../fonts/pfdintextcondpro-italic-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextcondpro-italic-webfont.svg#pf_din_text_cond_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_din_text_cond_probold';
    src: url('../fonts/pfdintextcondpro-bold-webfont.eot');
    src: url('../fonts/pfdintextcondpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcondpro-bold-webfont.woff') format('woff'),
    url('../fonts/pfdintextcondpro-bold-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextcondpro-bold-webfont.svg#pf_din_text_cond_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_din_text_cond_proXTh';
    src: url('../fonts/pfdintextcondpro-xthin-webfont.eot');
    src: url('../fonts/pfdintextcondpro-xthin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcondpro-xthin-webfont.woff') format('woff'),
    url('../fonts/pfdintextcondpro-xthin-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextcondpro-xthin-webfont.svg#pf_din_text_cond_proXTh') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_din_text_cond_proXBlkIt';
    src: url('../fonts/pfdintextcondpro-xblackital-webfont.eot');
    src: url('../fonts/pfdintextcondpro-xblackital-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcondpro-xblackital-webfont.woff') format('woff'),
    url('../fonts/pfdintextcondpro-xblackital-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextcondpro-xblackital-webfont.svg#pf_din_text_cond_proXBlkIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_din_text_cond_proXThIt';
    src: url('../fonts/pfdintextcondpro-xthinital-webfont.eot');
    src: url('../fonts/pfdintextcondpro-xthinital-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcondpro-xthinital-webfont.woff') format('woff'),
    url('../fonts/pfdintextcondpro-xthinital-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextcondpro-xthinital-webfont.svg#pf_din_text_cond_proXThIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_din_text_cond_proregular';
    src: url('../fonts/pfdintextcondpro-regular-webfont.eot');
    src: url('../fonts/pfdintextcondpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcondpro-regular-webfont.woff') format('woff'),
    url('../fonts/pfdintextcondpro-regular-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextcondpro-regular-webfont.svg#pf_din_text_cond_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}*/

/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}*/

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    min-width: 970px;
    font: 100%/1.5 Arial, Helvetica, sans-serif;
    color: #000;
    -webkit-font-smoothing: antialiased;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 10px;
    font-weight: normal;
    line-height: 1.2;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 16px;
}

h4, h5, h6 {
    font-size: 15px;
}

/* Links */
a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}
header a, a.b-portalabout_lnk {
    text-decoration: none;
}

/* tables */
table {
    margin: 0 0 1em;
}

table th,
table td {
    padding: 6px 8px;
    border: 1px solid #b5b8bd;
    text-align: left;
}

table th {
    background: #ebeef2;
    font-weight: bold;
}

table p {
    margin: 0;
}

/* Other */
p {
    margin: 0 0 1em;
}

.attention {

}

.text-intro {
}

blockquote {
}

blockquote .author {
}

.text-small {
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

.button {
    position: relative;
    display: inline-block;
    vertical-align: middle;

}

.button:hover {
}

.button_a-w {
    display: block;
}

/* Main layout */
.container {
}

.prim-content {
    float: right;
    width: 700px;
}

.sec-content {
    float: left;
    width: 228px;
}

.column {

}

.column_last {
}

/* Header */
.header {

}

.h__logo {

}

/* Primary navigation */
.prim-nav {

}

.prim-nav li {
}

.prim-nav li a {

}

.prim-nav li a:hover,
.prim-nav li.active a {
}

/* Catalogue */
.prod-list {
}

/* Contacts */
#map {
    position: relative;
    overflow: hidden;
}

#map .ymaps-map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Footer */
.footer {

}

/* Additional */
.bold {
    font-weight: bold;
}

.hide {
    display: none !important;
}

.vhide {
    visibility: hidden;
}

.phide {
    position: absolute;
    top: -9999em;
    left: -9999em;
}

.no-pad {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.float-left {
    float: left
}

.float-right {
    float: right;
}

.img-left {
    float: left;
    margin: 0 15px 15px 0;
}

.img-right {
    float: right;
    margin: 0 0 15px 15px;
}

.img-center {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.no-wrap {
    white-space: nowrap;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-upper {
    text-transform: uppercase;
}

.text-underline {
    text-decoration: underline;
}

.cf:before,
.cf:after,
.columns:before,
.columns:after {
    content: " ";
    display: table;
}

.cf:after,
.columns:after {
    clear: both;
}

.cf,
.columns {
    *zoom: 1;
}

@media only screen and (min-width: 1601px) {

}

@media only screen and (min-width: 1369px) and (max-width: 1600px) {

}

@media only screen and (min-width: 1281px) and (max-width: 1368px) {

}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {

}

@media only screen and (min-width: 961px) and (max-width: 1024px) {

}

@media only screen and (max-width: 960px) {

}

@media only screen and (max-width: 481px) {

}

.menu__wrap {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 940px;
}

.menu__logo {
    position: absolute;
    float: left;
    width: 132px;
    height: 173px;
    background: url("../images/logo.png") 0 0 no-repeat;
    z-index: 1000;
}

.prim-nav {
    float: right;
    font-size: 0;
}

.prim-nav li {
    float: left;
    margin-left: 22px;
}

.prim-nav a {
    display: block;
    height: 73px;
    font-family: 'pf_din_text_cond_proXTh';
    font-size: 24px;
    color: #383838;
    line-height: 73px;
    cursor: pointer;
}

.slider-container {
    position: relative;
    height: 443px;
    overflow: hidden;
}

.slider-wrapper {
    width: 970px;
    margin: 0 auto;
}

.slider-outer {
    width: 1300px;
    margin: 0 -165px;
}

.slider {

}

.s__item {
    position: relative;
    width: 1300px !important;
    text-align: center;
}

.s__item__text {
    position: absolute;
    left: 178px;
    top: 174px;
    padding-left: 40px;
    width: 485px;
    font-family: 'pf_din_text_cond_prolight';
    font-size: 48px;
    line-height: 44px;
    color: #fff;
    text-align: left;
}
.s__item__text:before {
    position: absolute;
    content: '{';
    top: -27px;
    left: -4px;
    font-family: 'pf_din_text_cond_proXTh';
    font-size: 180px;
    line-height: 130px;
    color: #fff;
}

.description {
    padding-top: 19px;
    padding-bottom: 23px;
    background-color: #f5f5f5;
    text-align: center;
}

.description__text {
    margin: 0 auto;
    width: 676px;
    font-family: 'pf_din_text_cond_proXTh';
    font-size: 30px;
    line-height: 40px;
}

.description__text strong {
    font-family: 'pf_din_text_cond_promedium';

}

.description__text u {
    text-decoration: underline;
}

.contacts__left-wrap {
    background-color: #ff1744;
}

.contacts__right-wrap {
    background-color: #8a7579;
}

.contacts__left-wrap,
.contacts__right-wrap {
    float: left;
    width: 50%;
}

.contacts__left {
    margin-left: auto;
    padding-left: 15px;
    padding-right: 35px;
}

.contacts__right {
    margin-right: auto;
    padding-left: 35px;
    padding-right: 15px;
}

.contacts__left,
.contacts__right {
    font-size: 0;
    width: 434px;
    padding-top: 57px;
    padding-bottom: 57px;
}

.contacts__text {
    display: inline-block;
    position: relative;
    padding-bottom: 52px;
    padding-left: 129px;
    font-family: 'pf_din_text_cond_prothin';
    font-size: 36px;
    line-height: 40px;
    color: #ffebee;
}

.contacts__text:before {
    position: absolute;
    content: '';
    top: -7px;
    left: 15px;

}

.contacts__text_where:before {
    width: 100px;
    height: 100px;
    background: url("../images/icon-where.png") 0 0 no-repeat;
}

.contacts__text_what:before {
    width: 86px;
    height: 106px;
    background: url("../images/icon-what.png") 0 0 no-repeat;
}

.contacts__button {
    display: inline-block;
    padding: 13px 20px 13px 20px;
    font-family: 'pf_din_text_cond_prolight';
    font-size: 20px;
    color: #ff1744;
    background: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.contacts__button:first-of-type {
    margin-right: 20px;
}

.content {
    margin: 0 auto;
    width: 970px;
    overflow: hidden;
}

.catalog-title {
    margin-top: 23px;
    margin-bottom: 32px;
    font-family: 'pf_din_text_cond_prolight';
    font-size: 36px;
    line-height: 40px;
    color: #ff1744;
    text-align: center;
}

.news {
    float: left;
    padding: 7px 14px 7px 14px;
    background-color: #ff1744;
    font-family: 'pf_din_text_cond_prolight';
    font-size: 0;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.news__title {
    font-size: 24px;
}

.news__list {
    padding-top: 7px;
    padding-left: 35px;
}

.news__item {
    position: relative;
    margin-bottom: 14px;
    list-style-type: none;
}

.news__item:before {
    position: absolute;
    content: '';
    top: 8px;
    left: -34px;
    width: 21px;
    height: 5px;
    background-color: #fff;
}

.news__item-link {
    font-size: 16px;
    color: #fff;
    line-height: 20px;
    text-decoration: underline;
}

.news__item-link:hover {
    text-decoration: none;
}

.news__date {
    display: inline-block;
    font-family: 'pf_din_text_cond_proLtIt';
    font-size: 14px;
    text-decoration: none;
}

.catalog {
    width: 730px;
    margin: 0 -30px 0 0;
    font-size: 0;
    font-family: 'pf_din_text_cond_prolight';
}

.catalog__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    margin-bottom: 21px;
    text-align: center;
    width: 212px;
    vertical-align: top;
}

.catalog__item:nth-last-of-type(3) {
    margin-bottom: 0;
}

.catalog__item__link {
    position: relative;
    display: inline-block;
    width: 212px;
    font-size: 24px;
    color: #000;
    text-decoration: underline;
}

.catalog__item__image {
    margin-bottom: 11px;
    height: 272px;
    line-height: 272px;
    text-align: center;
    vertical-align: middle;
}

.catalog__item__image img {
    display: inline-block;
    max-width: 100%;
    max-height: 272px;
    vertical-align: middle;

}

.catalog__item-description {
    display: inline-block;
    margin-top: 4px;
    font-size: 18px;
}

.catalog__item-author {
    color: #ff1744;
}

.catalog__item-views {
    position: relative;
    display: inline-block;
    margin-top: 6px;
    padding-left: 35px;
}

.catalog__item-views:before {
    position: absolute;
    content: '';
    top: 5px;
    left: 4px;
    width: 28px;
    height: 16px;
    background: url("../images/icon-views.png") 0 0 no-repeat;
}

.pagination {
    margin-top: -7px;
    margin-bottom: 41px;
    font-size: 0;
    font-family: "pf_din_text_cond_proregular";
    text-align: center;
}

.pagination-item {
    display: inline-block;
    vertical-align: top;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 33px;
    height: 26px;
    font-size: 18px;
    color: #ff1744;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    text-decoration: none;
}

.pagination-item:last-of-type {
    border-right: 1px solid #ddd;
}

.pagination-item_active {
    color: #474d52;
    background-color: #f7f7f7;
}

.pagination-item:hover {
    color: #fff;
    background-color: #ff1744;
}

.pagination-item_prev {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: url("../images/icon-prev.png") 50% 50% no-repeat;
}

.pagination-item_prev:hover {
    background: url("../images/icon-prev_hover.png") 50% 50% no-repeat #ff1744;
}

.pagination-item_next {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background: url("../images/icon-next.png") 50% 50% no-repeat;
}

.pagination-item_next:hover {
    background: url("../images/icon-next_hover.png") 50% 50% no-repeat #ff1744;
}

.address {
    height: 258px;
    font-family: 'pf_din_text_cond_prolight';
    background: url("../images/address-background.jpg") 0 0 repeat-x;
}

.address__content {
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 15px;
    padding-bottom: 39px;
    width: 970px;
}

.address__title {
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
    color: #7a7375;
    width: 50%;
}

.address__value,
.address__email {
    font-size: 36px;
    color: #363636;
    line-height: 36px;
}

.address__row {
    font-size: 0;
    margin-bottom: 26px;
}

.address__row:last-of-type {
    margin-bottom: 0;
}

.address__email {
    display: block;
    color: #ff1744;
    text-decoration: underline;
}

.address_phone {
    display: block;
    text-decoration: none;
}

.address_phone:hover {
    text-decoration: underline;
}

/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */

/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
    position: relative;
    margin: 0 auto 60px;
    padding: 0;
    *zoom: 1;
}

.bx-wrapper img {
    max-width: 100%;
    display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
    /*fix other elements on the page moving (on Chrome)*/
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(../images/bx_loader.gif) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff;
    text-indent: -9999px;
    display: block;
    width: 18px;
    height: 18px;
    margin: 0 6px;
    outline: 0;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #ff1744;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
    left: 10px;
    background: url(../images/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
    right: 10px;
    background: url(../images/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
    background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
    background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
    text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(../images/controls.png) -86px -11px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(../images/controls.png) -86px -44px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666 \9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
}

.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px;
}
