.b-onelib_info h1 span
{
    color: #999;
}
.b-onelib_info h1
{
    margin-bottom: 40px;
}
.b-onelib_info .b-libmain_info
{
    padding-top: 0;
    margin-top: 40px;
}
.b-onelib_info .b-wrap_more
{
    margin: 40px 0;
}

.b-onelib_side .b-libstatistic
{
    border: none;
    border-bottom: 1px solid #dfdfdf;
    padding: 40px 0 40px 28px;
    margin: 0;
}
.b-onelib_side .title
{
    color: #999;
    margin-bottom: 20px;
    padding-right: 20px;
}
.b-onelib_side .text
{
    color: #333;
    padding-right: 20px;
}
.b-onelib_side .text a
{
    color: #5b7357;
}
.b-ebooklist
{
    margin-top: 40px;
}
