#stat_container
{
 
  background:#eee;
  font-size:0px;
  vertical-align:bottom;
  border-top: 1px #FF6600 dotted;
}
#stat_container div
{
	background:#316275;
	display:inline-block;
}
#stat_container div:first-child
{}
#stat_container div:last-child
{
    border-right: 0px #666 solid;
}
.stat_table
{
	border: 0px #CCCCCC solid;
	border-collapse: collapse;
	padding:0px;
	margin:0px;
	font-size:8px;
}
.stat_table td
{
	border: 0px #CCCCCC solid;
	padding:0px;
	margin:0px;
	vertical-align:bottom;
}
.stat_table .tdaxisY div
{
	 border-bottom: 1px #ccc solid;
	 padding-top:-25px;
}

.stat_table tr td:first-child
{
	border-right: 1px #ccc solid;
}
.stattabtopline
{
	background:#eee;
}
.titlespan
{
	color:#3389BD;
	margin: 20px 0px 40px 10px;
}
.divchekblok
{
	display:none;
	overflow:hidden;
	border: 1px solid #ddd;
	margin: 20px 0px 20px 0px;
	padding: 5px;
	border-radius: 5px;
}



ul.uleditstat {
    margin: 0 auto;
    display: block;
    background: #fff;
    list-style: none;
}
ul.uleditstat  > li {
    border-bottom: 1px solid #ccc;
}
ul.uleditstat > li > a {
    position: relative;
    display: block;
    line-height: 34px;
    font-size: 14px;
    padding-left: 10px;
    text-decoration: none;
}
ul.submenu > li:last-child,
ul.uleditstat > li:last-child {
    border-bottom: none;
}
ul.uleditstat li a:hover {
    background: #eee;
	color:#185E67;
}
ul.submenu {
    list-style: none;
}
ul.submenu > li {
    position: relative;
}
ul.submenu > li > a {
    position: relative;
    display: block;

}
ul.submenu > li > a:hover {
}
ul.uleditstat li a span {
    position: absolute;
    width: 0px;
    height: 0px;
	border: 5px solid transparent;	
	border-left: 5px solid #333333;
    top: 12px;
    right: 8px;
}
ul.uleditstat li a.active span {
	 width: 0px;
    height: 0px;
	border: 5px solid transparent;	
	border-top: 5px solid #333333;
	top: 15px;
	right: 9px;
}

.stat-buttons-block {
    padding: 7px;
}