#tableService .container .row > div { padding: 0; }
#tableService thead tr th { color: #5b7357; }
#tableService div.small { font-size: 0.95em; color: #4e5d4c;}
#tableService thead tr { background-color: #FFFFff; }
#tableService tbody tr:nth-child(2n+1) { background-color: #f3f3f3; }
#tableService tbody tr:nth-child(2n) { background-color: #ffffff; }
#tableService tbody tr:hover { background-color: #e1e4d9 !important; color: #000; }
.glyphicon.glyphicon-sort-by-attributes, .glyphicon.glyphicon-sort-by-attributes-alt { cursor: pointer; }
#resultServicesList { min-height: 50px; }
#tab-collection .b-createcoll a:before, #tab-collection .b-createcoll a::before { display: none !important; }
#tab-collection .b-createcoll a span {
    display: inline-block;
    background: url(/local/templates/.default/markup/i/icons_main.png) no-repeat -453px 0;
    width: 29px;
    height: 34px;
    position: absolute;
    left: 40%;
    top: 30%;
}
.reporting { font-size: 14px; }
.reporting h2 { text-align: center; margin-top: 60px; margin-bottom: 20px; }
.reporting table { width: 100%; background-color: white; margin-bottom: 30px;  }
.reporting table th, .reporting table td { border: 1px solid #e2e2e2; text-align: center; padding: 5px; vertical-align: middle; }
.reporting table th { font-weight: normal; color: #8C9F8E; }
.reporting input[type='text'], .reporting textarea { border: 0; text-align: center; width: 100%; background-color: #ffffcc; }
.table-comment { text-align: right; margin-bottom: 15px; }
.export-doc-to-file button{
    min-width: 65px;
}
span.not-confirm,
.re-confirm,
.confirmed,
.check-this {font-size: 1.2em;}
.confirmed {color: #1a638f; cursor: pointer;}
.re-confirm {color: #ff3b3b; cursor: pointer;}
.not-confirm, tr.not-confirm a {color: #b7b7b7 !important; }
.check-this {color: #00a22e;}
.valign-center {vertical-align: middle !important;}
#upload-scan input[type=file] {
    display: none;
}