ul.uleditstat {
    width: 500px;
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
}
ul.uleditstat  > li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
ul.uleditstat > li > a {
    position: relative;
    display: block;
    line-height: 188%;
    font-size: 77%;
    padding-left: 10px;
    text-decoration: none;
}
ul.submenu > li:last-child,
ul.uleditstat > li:last-child {
    border-bottom: none;
}
/*ul.uleditstat li a:hover {
    background: #eee;
    color:#185E67;
}*/
ul.submenu {
    list-style: none;
}
ul.submenu > li {
    position: relative;
}
ul.submenu > li > a {
    position: relative;
    display: block;

}
ul.submenu > li > a:hover {
}
ul.uleditstat li a span {
    position: absolute;
    width: 0px;
    height: 0px;
    border: 5px solid transparent;
    border-left: 5px solid #333333;
    top: 12px;
    right: 8px;
}
ul.uleditstat li a.active span {
    width: 0px;
    height: 0px;
    border: 5px solid transparent;
    border-top: 5px solid #333333;
    top: 15px;
    right: 9px;
}
.active-parent-li > ul {
    padding: 0;
    list-style-type: none;
}
.active-parent-li {
    background: #ffffff;
}
.stat-buttons-block {
    padding: 7px;
}
.active-link > .icon {
    transform: rotate(90deg);
}
a.active-parent {
    height: 35px;
    line-height: 46px !important;
}

.input-group .form-control:first-child,
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:first-child>.btn-group:not(:first-child)>.btn,
select.form-control{
    border-radius: 0 !important;
}
input#PERIOD_END,
input#PERIOD_START {
    border-right: 0;
}
.input-group span {
    background: #fff;
}
.chosen-container-single .chosen-single {
    border-radius: 0 !important;
    height: 34px !important;
    line-height: 34px !important;
}
.chosen-container-single .chosen-single div b {
    background-position: 0 7px;
}
input#reload_graf.btn
{
    font-size: 1em;
    color: #FFFFff;
    border-radius: 0;
    border: 0;
    background-color: #cdbe93;
}
.stat-description {
    display: none;
}