a.b_bookpopular_photo.noimage
{
    text-decoration: none;
    color: #000000;
    font-family: "Arial", "sans-serif";
    font-weight: bold;
    font-size: 60%;
}
a.b_bookpopular_photo.noimage div.div_loadingimg
{
    background: #fced77;
    border: 1px solid #dddddd;
    height: 80px;
    padding-bottom: 5px;
    padding-top: 27px;
    position: relative;
    text-transform: uppercase;
    width: 82px;
}