.split-delete-item
{
    background: url("images/del.jpg") 3px 9px no-repeat;
    height: 32px;
    margin: 0px;
    padding:3px;
    padding-left: 17px;
    text-decoration: none;
    margin-left: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    position: relative;
    top: -10px;
}
a.bx-ss-text
{
    background: url("images/add.jpg") 3px 9px no-repeat;
    height: 32px;
    margin: 0px;
    padding:3px;
    padding-left: 17px;
    text-decoration: none;
    margin-left: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    position: relative;
    top: -10px;
}
.vkontakte {
    width: 32px;
    height: 32px;
    background: url("images/vk.jpg");
    display: inline-block;
}
.facebook {
    width: 32px;
    height: 32px;
    background: url("images/fb.jpg");
    display: inline-block;
}
.odnoklassniki {
    width: 32px;
    height: 32px;
    background: url("images/ok.jpg");
    display: inline-block;
}
.soc-table, .soc-table td, .soc-table th, .soc-table tr
{
    padding:0px;
    margin:0px;
    border-spacing: 0px;
    border-collapse: collapse;
}
.soc-table td
{
    padding-top: 3px;
}