.b-onelib_info .ui-tabs-panel, .b-onelibtabs .ui-tabs-panel{
    border-top: 0 !important;
}
.b-libtabs .ui-tabs-nav li + li:before, .b-onelibtabs .ui-tabs-nav li + li a:before{
    float: inherit !important;
    content: "" !important;
}
.b-onelib_side {
    margin-top: 40px  !important;
}