/* Top Menu */
.menu-top > ul {
    list-style: none !important;
    position: relative !important;
    border-bottom: 2px solid #d9d9d9  !important;
    height: 42px;  !important
margin-bottom: 15px  !important;
}
.menu-top > ul li {
    float: left  !important;
    padding: 10px 8px 15px 8px  !important;
    /*border-bottom: 2px solid #D9D9D9;*/
    margin: 0  !important;
    box-sizing: border-box  !important;
}
.menu-top > ul li a,
.menu-top > ul li a:hover {
    color: #999  !important;
    line-height: 16px  !important;
    position: relative  !important;
    outline: 0 none  !important;
    text-decoration: none  !important;
    font-size: 14px !important;
}
.menu-top > ul li:hover,
.menu-top > ul li.active,
.menu-top > ul li.ui-tabs-active
{
    border-bottom: 3px solid #0a5e43  !important;
}
.b-onelibtabs.ui-tabs .ui-tabs-nav{
    height: 21px !important;
}