#panel-formYandexMoney
{
    position: fixed;
    width: 500px;
    background-color: white;
    border: 2px solid black;
    top: 100px;
    z-index: 1;
    left: 50%;
    margin-left: -250px;
    padding: 20px;
}
#panel-formYandexMoney a.payorderlinkcancel
{
    background-color: #808080;
}
