.adm-list-table-popup {
   cursor: pointer;
}
.useraccess input[type=checkbox] {
    width: 22px;
    height: 22px;
    border: 1px solid #d9d9d9;
    position: relative;
    margin: 0 !important;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.useraccess input[type=checkbox]:checked {
    background: #CDBE93;
}
.useraccess input[type=checkbox]:focus {
    box-shadow: none;
    -moz-box-shadow: none;
    outline: 1px auto rgba(255, 255, 255, 0);
    outline-offset: 0;
}

.useraccess input[type=checkbox]:checked:before {
    content: "✔";
    color: #FFFFff;
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 1.55em;
    text-align: center;
    top: 0;
    line-height: 20px;
    position: absolute;
}

.useraccess {
    max-width: 1200px;
    overflow-y: auto;
    overflow-x: auto;
}
.useraccess .elr-ua-fio {
    max-width: 200px;
}
.useraccess .elr-ua-email {
    max-width: 150px;
}
.useraccess .elr-ua-email,
.useraccess .elr-ua-fio {
    word-wrap: break-word;
}
.useraccess tbody tr:hover {
    background-color: #e1e4d9 !important;
    color: #000;
}
.bootstrap form label {
    font-size: 0.8em;
    width: 100%;
}
table .center, div.center {
    text-align: center !important;
}
table .middle {
    vertical-align: middle !important;
}
.chosen-single {
    height: 34px !important;
    padding: 6px 12px !important;
    line-height: 21px !important;
    border-radius: 4px !important;
    border: 1px solid #cccccc !important;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -16px 9px !important;
}
.chosen-container-single .chosen-single div b {
    background-position: 0 7px !important;
}
.input-group-addon {
    cursor: pointer;
}
.span-login {
    color: #9e9373;
}
.span-email {
    color: #494949;
}
#resultTableUsers thead tr th {
    color: #5b7357;
}
#resultTableUsers div.small {
    font-size: 0.95em;
    color: #4e5d4c;
}
#resultTableUsers thead tr {
    background-color: #FFFFff;
}

#resultTableUsers tbody tr:nth-child(2n+1) {
    background-color: #f3f3f3;
}
#resultTableUsers tbody tr:nth-child(2n) {
    background-color: #ffffff;
}

.btn-reset:hover,
.btn-reset:focus,
.btn-reset:active {
    color: #384736 !important;
    text-decoration: none !important;
}
.btn-reset {
 color: #4e5d4c !important;
}
button.no-radius {
    border-radius: 0 !important;
}
.elr_nav_num_page > * {
    display: inline-block;
    padding: 10px;
    margin: 0 5px 0 0;
}
.elr_nav_num_page span.page-num {
    border: 1px solid #cdbe93;
    font-weight: bold;
}
.elr_nav_num_page a.glyphicon {
    color: #cdbe93;
}
.elr_nav_num_page a.glyphicon:hover {
    color: #ad9e7c;
}
.elr_nav_num_page a:hover,
.elr_nav_num_page a:active,
.elr_nav_num_page a:focus,
.elr_nav_num_page a:visited,
.elr_nav_num_page a.glyphicon:hover {
    text-decoration: none;
}
div.pull-right .elr_nav_num_page {
    height: 38px;
    display: inline-block;
    line-height: 38px;
}
span.for-edit {
    padding: 3px;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    min-height: 20px;
}
span.for-edit:hover {
    border: 1px dotted #2e2e2e;
    padding: 2px;
    box-sizing: border-box;
    background: #FFFFff;
    cursor: text;
}
.control-btn a.btn,
.control-btn button.btn
{
    font-size: 0.8em;
    color: #FFFFff;
    border-radius: 0;
    border: 0;
    background-color: #cdbe93;
}
.control-btn a.btn-green {
    background-color: #50664d;
}
.btn-default[disabled]:hover {
    color: #0b3961;
    background-color: #cdbe93 !important;
    opacity: 0.5;
}
.modal-dialog {
    width: 1270px !important;
}
#containerModalMerged input[type=radio] {
    outline: none;
}
#containerModalMerged input[type=radio]:before {
    content: " ";
    width: 16px;
    height: 16px;
    border: 1px solid #D9D9D9;
    border-radius: 9px;
    display: inline-block;
}
#containerModalMerged input[type=radio]:checked:before {
    background-color: #cdbe93;
}
.modal-title {
    margin-right: 15px !important;
}
tr.user_changed {
    background: #bde079 !important;
}
.b-onelibtabs .ui-tabs-nav li.ui-tabs-active:before, .b-onelibtabs .ui-tabs-nav li.ui-tabs-active:after{
    display: none !important;
}
/*li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active a
{
    color: #5b7357 !important;
    border-bottom: 1px dotted #5b7357;
}*/
.b-libtabs .ui-tabs-nav li, .b-onelibtabs .ui-tabs-nav li {
    margin-right: 3px !important;
}
.b-libtabs .ui-tabs-nav li + li:before, .b-onelibtabs .ui-tabs-nav li + li a:before
{
    margin-right: 3px !important;
}
