#tableLibrary .container .row > div {
    padding: 0;
}

#tableLibrary thead tr th {
    color: #5b7357;
}
#tableLibrary div.small {
    font-size: 0.95em;
    color: #4e5d4c;
}
#tableLibrary thead tr {
    background-color: #FFFFff;
}

#tableLibrary tbody tr:nth-child(2n+1) {
    background-color: #f3f3f3;
}
#tableLibrary tbody tr:nth-child(2n) {
    background-color: #ffffff;
}
#tableLibrary tbody tr:hover {
    background-color: #e1e4d9 !important;
    color: #000;
}
.glyphicon.glyphicon-sort-by-attributes,
.glyphicon.glyphicon-sort-by-attributes-alt {
    cursor: pointer;
}
#resultLibraryList {
    min-height: 50px;
}
.chosen-container {
    min-width: 263px !important;
    height: auto !important;
}
#tableLibrary .chosen-container .search-choice {
    height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 135px;
}
.remove-service-lib,
.glyphicon.glyphicon-briefcase {
    cursor: pointer;
}
