#download_pdf {
    margin-left:20px;
}
#download_pdf span {
    top: -10px;
    position: relative;
}

#groups {
    margin: 20px;
}

h3.doc_group__name {
    font-family: Tahoma, Geneva, sans-serif;
    color: #333333;
    margin-bottom: 4px;
    margin-top: 10px;
    cursor: pointer;
    border-bottom: 2px solid #333;
    width: 100%;
}

.doc_group {
    margin-left: 20px;
    font-family: Droid Sans, sans-serif;
    margin: 0 0 40px 20px;
}

.doc_function {
	background: #f8f9ff;
    border: 1px solid gray;
    border-radius: 4px;
    margin-top: 5px;
}

.doc_function__header {
    background-color: #e7f0f7;
    border-bottom: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
}

.doc_function__detail {
    background-color: #f8f9ff;
    border-radius: 5px;
    font-size: 14px;
}

.doc_function__description {
    padding: 20px;
}

.doc_function__request_type {
    border-radius: 4px;
    border: 1px solid gray;
    padding: 5px;
    font-size: 12px;
    margin: 0 5px 0 0;
    text-align: center;
    width: 50px;
}

.doc_function__name {
    float: right;
    padding: 5px 20px 5px 20px;
}

.doc_function__request_type, .doc_function__request_url, .doc_function__name {
    display: inline-block;
}

.doc_function__request_get {
    background-color: #4eac59;
}

.doc_function__request_post {
    background-color: #cc9a02
}

.doc_function__request_put {
    background-color: #3467ff;
}

.doc_function__request_delete {
    background-color: #cc3402;
}

.doc_function__detail {
    font-size: 14px;

}

.doc_function__parameter_group {
    margin-bottom: 20px;
    overflow: hidden;
}

.doc_function__parameter_group span {
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    display: inline-block;
    padding: 5px;
    width: 99%;
    font-weight: bold;
}

.doc_function__parameter_group table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 10px 10px;
    width: 98%;
}

.doc_function__parameter_group table tr {
    border: 1px solid #c3c3c3;
    border-collapse: collapse;
}

.doc_function__parameter_group table thead tr td {
    font-weight: bold;
    border: 1px solid #c3c3c3;
    border-collapse: collapse;
    padding: 5px;
}

.doc_function__parameter_group table tr td {
    border: 1px solid #c3c3c3;
    border-collapse: collapse;
    padding: 5px;
}

.doc_function__parameter_group table tr td.variants,
.doc_function__parameter_group table tr td.variants table{
    padding: 0;
    margin: 0;
}

.doc_function__parameter_group table tr td.variants table {
    width:100%;
}

.doc_function__parameter_group table tr td.variants table,
.doc_function__parameter_group table tr td.variants table tr,
.doc_function__parameter_group table tr td.variants table td
{
    border: none;
}

.doc_function__parameter_group table tr td.variants table tr {
    border-bottom: 1px solid #c3c3c3;
}

.doc_function__parameter_group table tr td.variants table tr td.value {
    padding-left: 2em;
    font-weight: bold;
    font-family: Courier, arial;
    width:30%;
}