table.b-usertable th,
table.b-usertable td
{
    font-family: "Noto Sans";
    font-size: 0.8em;
    color: #333;
    border-bottom: 1px solid #dcdcdc;
    padding: 25px 10px;
    text-align: left;
}
.b-collection_search
{
    margin-bottom: 0!important;
}
table.b-usertable td:first-child,
table.b-usertable th:first-child
{
    padding: 25px 10px 25px 0;
}
table.b-usertable
{
    margin-bottom: 80px;
	width: 100%;
}
table.b-usertable a:hover
{
    text-decoration: underline;
}
table.b-usertable th
{
    color: #999;
}
.plusico_wrap.rel
{
    text-align: center;
}
.plus_ico {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("images/icons.png");
    background-origin: padding-box;
    background-position: 0 -533px;
    background-repeat: no-repeat;
    background-size: auto auto;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    margin: 0px;
    width: 18px;
}
.minus .plus_ico {
    background-position: 0 -563px;
}
.b-shresult_list a:hover
{
    text-decoration: underline;
}
.b-shresult_list
{
    font-family: "Noto Sans";
    font-size: 0.8em;
    width: 815px;
}
.b-shresult_list .b-shresult_item .meta
{
    display: none;
    position: absolute;
    margin-top: -25px;
    right: 40px;
}
.b-shresult_list .b-shresult_item .meta a
{
    background: rgba(0, 0, 0, 0) url("images/icons.png") no-repeat scroll -163px -174px;
    display: block;
    height: 29px;
    position: absolute;
    width: 21px;
    z-index: 3;
    right: -28px;
    top: -6px;
}
.b-shresult_list .b-shresult_item:hover .meta
{
    display: block;
}
.b-shresult_list .b-shresult_item .num
{
    float: left;
    margin-right: 5px;
}
.b-shresult_list .b-shresult_item .b-shresult_info
{

}

.b-shresult_list .b-shresult_item .b-shresult_info .b-shresult_find
{
    border-top: 1px solid #dcdcdc;
    margin-top: 10px;
    padding-top: 10px;
}


.b-shresult_list .b-shresult_item .b-shresult_more
{

}
.b-shresult_list .b-shresult_item .b-shresult_act
{

}
.b-shresult_list .iblock
{
    width: 240px;
    padding: 20px 5px 5px 0;
}
.b-shresult_list .b-ebook
{
    width: auto;
    margin: 0 0 10px;
    padding: 40px;
    height: auto;
    min-height: auto;
}
.b-favs
{
    display: none;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
    padding: 2px;
    position: absolute;
    background-color: #5b7357;
    z-index: 5;
    color: #cdbe93;
}
.b-favs .checkwrapper label
{
    color: #cdbe93;
}
.b-favs input[type="submit"]
{
    padding: 0;
    color: #999;
    border: 1px solid #999;
    line-height: 1em;
    margin: 0 10px 0 0;
    width: 18px;
    height: 18px;
}
.b-favs ul
{
    list-style: none;
}
.b-removepopup
{
    display: none;
}
.b-menu_sidelist .checkbox
{
    display: none;
}
.b-menu_sidelist:hover .checkbox
{
    display: inline-block;
}

.b-libfilter_remove
{
    background: rgba(0, 0, 0, 0) url("images/icons.png") no-repeat scroll 0 -209px;
    height: 18px;
    width: 16px;
    float: right;
    display: none;
}
.b-menu_sidelist input[type="checkbox"].checked
{
    display: block;
}