ul.uleditstat {
    width: 500px;
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
}
ul.uleditstat  > li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
ul.uleditstat > li > a {
    position: relative;
    display: block;
    line-height: 188%;
    font-size: 77%;
    padding-left: 10px;
    text-decoration: none;
}
ul.submenu > li:last-child,
ul.uleditstat > li:last-child {
    border-bottom: none;
}
/*ul.uleditstat li a:hover {
    background: #eee;
    color:#185E67;
}*/
ul.submenu {
    list-style: none;
}
ul.submenu > li {
    position: relative;
}
ul.submenu > li > a {
    position: relative;
    display: block;

}
ul.submenu > li > a:hover {
}
ul.uleditstat li a span {
    position: absolute;
    width: 0px;
    height: 0px;
    border: 5px solid transparent;
    border-left: 5px solid #333333;
    top: 12px;
    right: 8px;
}
ul.uleditstat li a.active span {
    width: 0px;
    height: 0px;
    border: 5px solid transparent;
    border-top: 5px solid #333333;
    top: 15px;
    right: 9px;
}
.active-parent-li > ul {
    padding: 0;
    list-style-type: none;
}
.active-parent-li {
    background: #ffffff;
}
.stat-buttons-block {
    padding: 7px;
}
.active-link > .icon {
    transform: rotate(90deg);
}
a.active-parent {
    height: 35px;
    line-height: 46px !important;
}
/* Top Menu */
.menu-top ul {
    list-style: none;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
    height: 43px;
    margin-bottom: 15px;
}
.menu-top ul li {
    float: left;
    padding: 10px 15px 15px 15px;
    border-bottom: 2px solid #D9D9D9;
    margin: 0;
    box-sizing: border-box;
}
.menu-top ul li a,
.menu-top ul li a:hover {
    color: #999;
    line-height: 18px;
    position: relative;
    outline: 0 none;
    text-decoration: none;
}
.menu-top ul li:hover,
.menu-top ul li.active
{
    border-bottom: 3px solid #0a5e43;
}

.input-group .form-control:first-child,
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:first-child>.btn-group:not(:first-child)>.btn,
select.form-control{
    border-radius: 0 !important;
}
input#PERIOD_END,
input#PERIOD_START {
    border-right: 0;
}
.input-group span {
    background: #fff;
}
.chosen-container-single .chosen-single {
    border-radius: 0 !important;
    height: 34px !important;
    line-height: 34px !important;
}
.chosen-container-single .chosen-single div b {
    background-position: 0 7px;
}
input#reload_graf.btn
{
    font-size: 1em;
    color: #FFFFff;
    border-radius: 0;
    border: 0;
    background-color: #cdbe93;
}
.stat-description {
    display: none;
}

.bootstrap a.btn,
.bootstrap button.btn
{
    font-size: 0.8em;
    color: #FFFFff;
    border-radius: 0;
    border: 0;
    background-color: #cdbe93;
}
.bootstrap a.btn-green {
    background-color: #50664d;
}
.bootstrap .btn-default[disabled]:hover {
    color: #0b3961;
    background-color: #cdbe93 !important;
    opacity: 0.5;
}
.bootstrap .modal-dialog {
    width: 1270px !important;
}
.bootstrap .row {
    margin-bottom: 15px;
}
.chosen-container.chosen-container-single {
    width: 100% !important;
}
.modal-title {
    margin-right: 15px;
}
.smart-search {
    position: absolute;
    z-index: 99;
    background: #fff;
    padding: 0 15px 15px;
    width: 90%;
    left: 5%;
    border-left: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    box-shadow: 0 4px 15px #d9d9d9;
}
.user-item {
    padding: 4px 0 4px 0;
    cursor: pointer;
}
.user-item:hover {
    background: #eaeaea;
}
.elr_nav_num_page > * {
    display: inline-block;
    padding: 10px;
    margin: 0 5px 0 0;
}
.elr_nav_num_page span.page-num {
    border: 1px solid #cdbe93;
    font-weight: bold;
}
.elr_nav_num_page a.glyphicon {
    color: #cdbe93;
}
.elr_nav_num_page a.glyphicon:hover {
    color: #ad9e7c;
}
.elr_nav_num_page a:hover,
.elr_nav_num_page a:active,
.elr_nav_num_page a:focus,
.elr_nav_num_page a:visited,
.elr_nav_num_page a.glyphicon:hover {
    text-decoration: none;
}
div.pull-right .elr_nav_num_page {
    height: 38px;
    display: inline-block;
    line-height: 38px;
}