.b-form_find_wrapper
{
    padding-left: 18px;
}
.b-form_find_wrapper input[type="text"]
{
    border-color: transparent;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
    width: 20%;
    transition: background, width 0.2s ease;
    -webkit-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    -khtml-transition: background 0.2s ease;
}
.b-form_find_wrapper input[type="text"]:focus,
.b-form_find_wrapper input[type="text"]:hover,
.b-form_find_wrapper input[type="text"].not_empty
{
    background-color: Window;
    border-color: inherit;
    text-decoration: inherit;
    cursor: inherit;
    width: 70%;
}

.b-form_find_wrapper input[type="submit"],
.b-form_find_wrapper input[type="reset"]
{
    background: #f5454b linear-gradient(#f5454b, #f87579) repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.3125em;
}
.b-collection-item h2 b
{
    background-color: #5C0000;
    color: #ffffff;
}