/*----------------------------------------------------Table Cells And Backgrounds------------------------------------------------ */

/* Table Header, Reply Form Header, BBCode Icons Highlighting */
table.forum-table th, div.forum-reply-header { background-color: #8da988; }


/* Table Cell Border */
table.forum-table td, 
table.forum-table th.forum-column-lastpost, 
table.forum-table th.forum-column-title, 
table.forum-table th.forum-first-column,
table.forum-table th.forum-last-column,
div.forum-info-box,
div.forum-reply-form { border-color: #d4e7dc;}

/* Table Cell, Info Box, Reply Form */
table.forum-table td, div.forum-info-box, div.forum-reply-form { background:#fafcfb; }
div.forum-reply-form table.bxlhe-frame-table td.bxlhe-editor-buttons { background-color:#fafcfb!important; }
div.forum-reply-field td.bxlhe-editor-cell, div.forum-reply-field .feed-add-post-form-but-wrap {border-color: #ced0d1;}

/* Hidden Table Cell and Row */
table.forum-table tr.forum-row-hidden td, 
table.forum-table td.forum-cell-hidden, 
table.forum-table tr.forum-row-inactive td.forum-column-icon,
table.forum-post-hidden td.forum-cell-post, 
table.forum-post-hidden td.forum-cell-actions { background: #f9ffd3 !important; }

/* Selected (via checkbox) Table Cell and Row */
table.forum-table tr.forum-row-selected td, 
table.forum-table td.forum-cell-selected, 
table.forum-post-selected td.forum-cell-post, 
table.forum-post-selected td.forum-cell-actions { background: #c4ddcf !important; }

/* Table Footer and Alone Footer Box */
table.forum-table td.forum-column-footer, table.forum-post-table td.forum-column-footer, div.forum-footer-box { background: #8da988; }

/* Post Table: User Info and User Contacts Cells*/
table.forum-post-table td.forum-cell-user, table.forum-post-table td.forum-cell-contact { background: #e9f3ed; }

/* Post Table: Post and Actions Cell */
table.forum-post-table td.forum-cell-post, table.forum-post-table td.forum-cell-actions { background: #fafcfb; }

div.forum-post-date { background: #ddece3; border-bottom-color: #bedaca; }


/* ---------------------------------------------------Borders----------------------------------------------------- */

/* Menu Items, Page Navigation */
span.forum-menu-item, div.forum-page-navigation a, span.forum-page-current, div.forum-page-navigation a.forum-page-previous, span.forum-page-dots { border-color: #8da988; }

/* First Row Cell */
table.forum-table tr.forum-row-first td { border-top-color: #add0bc;}

/* Last Row Cell */
table.forum-table tr.forum-row-last td { border-bottom-color: #add0bc; }

/* Table Footer and Alone Footer Box */
table.forum-table td.forum-column-footer, table.forum-post-table td.forum-column-footer, div.forum-footer-box { border-color: #add0bc; }

/* Footer Item Separator */
span.forum-footer-option { border-color: #85ba9b; }

/* Topic posts table (separator line) */
table.forum-post-table { border-top-color: #fff; border-bottom-color: #c9d4ce; }

/* Post Table: User Info and User Contacts Cells*/
table.forum-post-table td.forum-cell-user, table.forum-post-table td.forum-cell-contact { border-left-color: #bad8c6; border-right-color: #bedaca; }

/* Post Table: Post and Actions Cell */
table.forum-post-table td.forum-cell-post, table.forum-post-table td.forum-cell-actions { border-right-color: #bad8c6; }

/* Post Table: User Contacts and Actions Cell */
table.forum-post-table td.forum-cell-contact, table.forum-post-table td.forum-cell-actions { border-top-color: #bedaca; }

/* User Signature*/
div.forum-signature-line { border-top-color: #bedaca; }

/* ---------------------------------------------------Text Color-------------------------------------------------- */

/* Header Box Right Links*/
div.forum-header-box a:link, 
div.forum-header-box a:visited, 
div.forum-header-box a:active, 
div.forum-header-box a:hover { color: #fff; }

.forum-required-field { color: red; }

div.forum-footer-inner a {  color: #efe6cc !important; }

/* --------------------------------------------------Special Elements---------------------------------------------- */

div.forum-header-box { color: #fff; background:#50664d; border-color: #197c42;}

/* Page navigation */
div.forum-navigation-box { background:#fff; border-color: #d4e7dc; }

/*BBCode: Quote and Code*/
table.forum-quote, table.forum-spoiler, table.forum-code, div.forum-code-box, div.forum-post-attachments {  border-color: #add0bc; }
table.forum-quote td, table.forum-spoiler td, table.forum-code td, div.forum-code-box ol, div.forum-post-attachments {background:#fdfefe !important; color:#696a6a;}
table.forum-quote th, table.forum-spoiler th, table.forum-code th, div.forum-code-box {background:#d9e9e0 !important; color:#5d625f;}

div.forum-note-box {border-color: #ffce6e; background: #fffdbc; }
/* --------------------------------------------------Icons---------------------------------------------- */
div.forum-icon-default { background-image: url(images/default.gif); }
div.forum-icon-newposts { background-image: url(images/newposts.gif); }
div.forum-icon-sticky { background-image: url(images/sticky.gif); }
div.forum-icon-sticky-newposts { background-image: url(images/sticky-newposts.gif); }
div.forum-icon-closed, div.forum-icon-sticky-closed { background-image: url(images/closed.gif); }
div.forum-icon-closed-newposts, div.forum-icon-sticky-closed-newposts { background-image: url(images/closed-newposts.gif); }
div.forum-icon-moved { background-image: url(images/moved.gif); }
/* --------------------------------------------------Votes---------------------------------------------- */
div.vote-answer-item-bar-inner {background-color:#8da988;}