@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800&subset=latin,cyrillic-ext,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic-ext);

@import url(http://fonts.googleapis.com/css?family=PT+Serif+Caption);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic&subset=latin,latin-ext,cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=Tinos:400,700&subset=latin,cyrillic-ext,vietnamese,latin-ext,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Scada:400italic,700italic,400,700&subset=latin,latin-ext,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300&subset=cyrillic,cyrillic-ext,latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Cuprum:400,700,400italic,700italic&subset=latin,cyrillic,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic);
@import url(http://fonts.googleapis.com/css?family=EB+Garamond&subset=latin,cyrillic-ext,latin-ext,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic);


html {width:100%; height:100%;}
body {
	width:100%;
	height:100%;
	margin:0;
	font-family: "Open Sans", Arial, sans-serif;
	font: 16px/1em 'Open Sans', sans-serif, Arial;  

	color:#262626;
	min-height:100%;
	min-width:1200px;
}
.page-book {
	min-height:100%;
	position:relative;
}
.page-book:before {
	content:'';
	display:block;
	clear:both;
	position:absolute;
	top:0;
	right:0;
	width:340px;
	height:100%;
	background:#ededed;
}
.page-book:after {
	content:'';
	display:block;
	clear:both;
}
.main {
	margin-right:340px;
	padding:20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.header {
	height:80px;
	position:relative;
	padding-right:100px;
}
a.logo {
	text-decoration:none;
	width:267px;
	height:62px;
	background:url(images/logo.png) no-repeat 0 0;
	float:left;
}
.add_to_lk {
	position:absolute;
	right:20px;
	top:0px;
	width:60px;
	height:60px;
	background:url(images/favorite.png) no-repeat 0 0;
	cursor:pointer;
	opacity:0.8;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.add_to_lk.active{
background:url(images/favorite.png) no-repeat 0 -60px;
}

.add_to_lk:hover {
	opacity:1;
}
.book-info {
	margin-left:290px;
	text-align:left;
}
.book-title {
	font-weight:bold;
	line-height:20px;
	display:inline-block;
	max-height:60px;
	overflow:hidden;
	text-overflow:ellipsis;
}
.sidebar {
	position:relative;
	float:right;
	width:340px;
	padding:20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.sidebar-header {
margin-bottom:50px;
}
.sidebar-tools {
	height:60px;
}
.sidebar-tools:after {
	content:'';
	clear:both;
	display:block;
}
.sidebar-tools span{
	width:20%;
	height:100%;
	display:block;
	float:left;
	background-size:contain !important;
	/*border:3px solid #fff;*/
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	cursor:pointer;
	opacity:0.7;
border:5px solid #EDEDED;
}
.sidebar-tools .document-options {
	background:url(images/document-options.png) no-repeat 50% 50%;
}
.page-view .tools .turn-page {
	background:url(images/turn-page.png) no-repeat 50% 50%;
}
.sidebar-tools .hand {
	background:url(images/hand.png) no-repeat 50% 50%;
}
.sidebar-tools .save, .page-view .tools .save-page {
	background:url(images/save.png) no-repeat 50% 50%;
}
.sidebar-tools .search {
	background:url(images/search.png) no-repeat 50% 50%;
}
.sidebar-tools span:hover, .sidebar-tools span.active {
	opacity:1;
}
.sidebar-tools span.active {
border-color:#00AEEE;
}
.document-options-view {
	margin-top:10px;
	display:none;
}
.document-options-view>div {
margin-bottom:10px;
font-size:13px;
}
.document-options-view>div span:first-child {
font-style: italic;
color: #929495;
}
.sidebar-content .section {
	margin-bottom:15px;
}
.sidebar-content .section h2 {
	padding:10px 20px;
	background:#00b0f2;
	color:#fff;
	text-transform:uppercase;
	font-weight:weight;
	font-size:14px;
	cursor:pointer;
	margin:0;
opacity:0.7;
-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.sidebar-content .section:hover h2, .sidebar-content .section.active h2 {
opacity:1;
}
.sidebar-content .section>div {
	display:none;
	margin-top:10px;
}
.thumb, .mark, .quotes, .notes  {
height:400px;
overflow:auto;
}
.thumb:after, .mark:after {
content:'';
display:block;
clear:both;
}
.thumb img, .mark img {
width:50%;
padding:5px;
box-sizing:border-box;
-moz-box-sizing:border-box;
float:left;
}
.thumb>span {
margin-left:5px;
margin-bottom:10px;
display:block;
font-size:14px;
}
.thumb>span select {
margin-left:5px;
font-size:16px;
height:28px;
border:1px solid #CACBD1;
}
.mark a {
display:block;
background:#fff;
padding:5px;
color: #bebcb8;
font-size:12px;
}
.mark a span {
display:block;
font-size:32px;
line-height:32px;
}
.mark div:nth-of-type(2n) a {
background:#EBF4FD;
}
.mark br {
display:none;
}
.search_block>div {
position:relative;
padding-right:60px;
}
#search_text {
height:28px;
border:1px solid #CACBD1;
padding:3px 5px;
width:100%;
box-sizing:border-box;
-moz-box-sizing:border-box;
}
#search_submit {
height:28px;
padding:3px 5px;
background:#00b0f2;
border:none;
color:#fff;
cursor:pointer;
position:absolute;
top:0;
right:0;
opacity:0.7;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
#search_submit:hover {
opacity:1;
}
.search_result {
	padding-top:10px;
	width:300px;
}
.search_result div {
background:#fff;
padding:5px;
color: #bebcb8;
font-size:12px;
}
.search_result div span {
display:block;
font-size:32px;
line-height:32px;
}
.search_result div:nth-of-type(2n) {
background:#EBF4FD;
}
.content {
	margin-bottom:10px;
}
.navigation {
	text-align:center;
	margin-bottom:10px;
}
.navigation span, .navigation div {
	display:inline-block;
	padding:1px 3px;
	cursor:pointer;
	margin:0 3px;
	border-bottom:1px solid transparent;
}
.navigation span:hover, .navigation div:hover {
	border-bottom:1px dashed #262626;
}
.navigation span.active {
	font-weight:bold;
	margin:0;
	font-size:16px;
}
.page-view {
	position:relative;
	border:1px solid #ededed;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.page-view .tools {
position:absolute;
top:0;
right:0;
z-index:2;
}
.page-view .tools span {
	width: 50px;
	height: 50px;
display: block;
float: left;
background-size: contain !important;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
cursor: pointer;
opacity: 0.7;
border: 5px solid #fff;
}
.page-view .tools .scale {
	background:url(images/scale.png) no-repeat 50% 50%;
}
.page-view .tools .bookmark {
	background:url(images/bookmark.png) no-repeat 50% 50%;
}
.page-view .tools .bookmark.active {
	background:url(images/bookmark2.png) no-repeat 50% 50%;
}
.page-view .tools span:hover {
opacity:1;
}
.view {
	height:100%;
	position:relative;
	overflow:auto;
	text-align:center;
	min-height:600px;
	font-size:0;
}

.view-page{
	position: relative;
	margin: 0 auto;
	width: 500px;
	font-size: 0;
}
 .crop-area {
	position: absolute;
	border: 1px dashed black;
	background: #F5DEB3;
	opacity: 0.3;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
}
.page-number {
	padding:5px;
	background:#ededed;
	position:absolute;
	top:0;
	left:0;
	text-align:center;
}
.next-page {
	width:39px;
	height:39px;
	position:absolute;
	top:50%;
	margin-top:-24px;
	right:20px;
	opacity:0.5;
	background:url(images/right.png) no-repeat 50% 50% #fff;
padding:5px;
border-radius:4px;
	cursor:pointer;
	display:none;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.prev-page {
	width:39px;
	height:39px;
	position:absolute;
	top:50%;
	margin-top:-24px;
	left:20px;
	opacity:0.5;
	background:url(images/left.png) no-repeat 50% 50% #fff;
padding:5px;
border-radius:4px;
	cursor:pointer;
	display:none;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.prev-page.noactive, .prev-page.noactive:hover {
	cursor:default;
	opacity:0.2;
}
.page-view:hover .next-page, .page-view:hover .prev-page {
	display:block;
}
.next-page:hover, .prev-page:hover {
opacity:0.8;
}
/* +++ FOOTER +++ */
.wrapper {
width: 940px;
margin: 0 auto;
}
.b-mylibrary + footer { bottom: 42px; }
footer {
  width: 100%; 
  color: #76797c; 
  background: #eaf2f2; 
  padding: 35px 0 34px;
  min-width: 970px;
position:relative;
clear:both;
}
footer:after {
content:'';
display:block;
clear:both;
}
footer a { font-family: "Open Sans",sans-serif,Arial !important; }
.b-copy { 
  float: left; 
  width: 450px;  
  font-family: 'PT Sans', sans-serif;
  font-size: 0.6875em;
  margin: 20px 0 0 48px;
  line-height: 1.2em;
}
.b-footer_support_tit { 
   font-family: 'PT Sans', sans-serif;
   font-style: italic;
   font-size: 0.875em;
   margin-bottom: 8px;
}
.b-footerlogo { float: left; margin-right: 52px; }
.b-footer_nav { 
  list-style-type: none;
  float: left;
  font-size: 0.875em;
  min-width: 100px;
  margin-top: 2px;
}
.b-footer_nav + .b-footer_nav { margin-left: 31px; }

.b-footer_nav li { margin-bottom: 0.7em; }
.b-footer_nav a , .theme_1 .b-footer_nav a, .theme_2 .b-footer_nav a, .theme_3 .b-footer_nav a, .theme_4 .b-footer_nav a, .theme_5 .b-footer_nav a, .theme_6 .b-footer_nav a, .theme_7 .b-footer_nav a, .theme_8 .b-footer_nav a{ color: #76797c; text-decoration: underline; }
.b-footer_nav a:hover { color: #a0aaaa; }
.b-footer_support { float: right; width: 325px; margin-top: 18px; line-height: 24px; }
/* --- FOOTER --- */

/* preloader */
#page-preloader {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 999;
	background-color: #00b0f2;
}
.spinner {
  	position:absolute;
	top:50%;
	margin-top:-15px;
	left:50%;
	margin-left:-15px;
  	width: 30px;
	height: 30px;
	background-color: #fff;
	-webkit-animation: rotateplane 1.2s infinite ease-in-out;
	animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
img.transform { 
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	-ms-transform: rotate(90eg);
	-ms-filter:'progid:DXImageTransform.Microsoft.Matrix(M11=6.123031769111886e-17,M12=-1,M21=1,M22=6.123031769111886e-17, SizingMethod="auto expand", enabled=true)';
}
.selectionBlock, .b-removepopup {
display:none;
}
.zoomable {
	position:relative;
	margin:0 auto;
	width:500px;
	font-size:0;

}
.zoomer {
background:none !important;
}

.b-message{
display:none !important;
}

.quotes div , .notes div{
display:block !important;
font-size:12px;
margin-bottom:10px;
}
.quotes div span, .notes div span {
display:block;
margin-bottom:5px;
}

.quotes div img, .notes div img{

	max-width:100%;
	height:auto;
	max-height:100px;
}


#selectedrect{
	border: 2px solid #20869C;
	background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.25);
	z-index:100;
	display:none;
	top:150px;
	position:absolute;
	
}

#selected_rect_menu{
	bottom: 10px;
	margin-left: 4px;
	left:100%;
	position: absolute;
	font: 16px/1em "Open Sans",sans-serif,Arial;
background:#fff;
border: 1px solid #bebcb8;

}

#selected_rect_menu a {
display: block;
text-decoration: none;
color: #bbb094;
font-size: 0.75em;
position: relative;
padding: 12px 10px 12px 45px;
letter-spacing: -0.02em;
background: #fff;
z-index: 2;
white-space:nowrap;
background: url('images/ico_quote_left.png') 10px 10px no-repeat;
}
#selected_rect_menu a:hover {
background-color: #f5e9ca;
}
#selected_rect_menu a#b-textLayer_notes {
background-image:url('images/ico_edit.png');
}
#selected_rect_menu:before, #selected_rect_menu:after {
content: ' ';
bottom: -9px;
left: 0;
width: 0;
height: 0;
border-style: solid;
position: absolute;
border-width: 9px 0 9px 12px;
}
#selected_rect_menu:after {
border-color: transparent transparent transparent #fff;
}
#selected_rect_menu:before {
border-color: transparent transparent transparent #bebcb8;
border-width: 10px 0 10px 14px;
bottom: -11px;
left: -1px;
}
.layer_notes {
position:absolute;
bottom:-160px;
left:100%;
width:270px;
margin-left:4px;
}
.layer_notes textarea {
width:100%;
resize:none;
height:130px !important;
box-sizing:border-box;
-moz-box-sizing:border-box;
}
.layer_notes input {
margin-top:5px;
height:24px;
width:100%;
text-align:center;
background: #00b0f2;
opacity:0.7;
border:none;
cursor:pointer;
font-weight:bold;
color:#fff;
}
.layer_notes input:hover {
opacity:1;
}


#infoTop, #infoLeft, #infoWidth, #infoHeight, #infoBottom{
display:none;
}

.mark div{
	display:block !important;

}