@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('fonts/opensans.eot');
    src: url('fonts/opensans.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans.woff2') format('woff2'),
         url('fonts/opensans.woff') format('woff'),
         url('fonts/opensans.ttf') format('truetype'),
         url('fonts/opensans.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Italic', sans-serif;
    src: url('fonts/opensansitalic.eot');
    src: url('fonts/opensansitalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensansitalic.woff2') format('woff2'),
         url('fonts/opensansitalic.woff') format('woff'),
         url('fonts/opensansitalic.ttf') format('truetype'),
         url('fonts/opensansitalic.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans Bold', sans-serif;
    src: url('fonts/opensansbold.eot');
    src: url('fonts/opensansbold.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensansbold.woff2') format('woff2'),
         url('fonts/opensansbold.woff') format('woff'),
         url('fonts/opensansbold.ttf') format('truetype'),
         url('fonts/opensansbold.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

html {
	width:100%;
	height:100%;
}
body {
	font: 16px/1em 'Open Sans', sans-serif, Arial;
	min-width: 445px;
	background-color: transparent;
	height: 100%;
	margin: 0;
	min-height: 100%;
	padding: 0;
	text-rendering: optimizelegibility;
	width: 100%;

}

img, a {
	border:none;
	outline:none;
}
.page-book {
	position:relative;
	min-height:100%;
	background:url(images/bg-light.jpg) no-repeat 0 0;
	background-attachment: fixed;
	background-size: cover;
	min-width:1240px;
}
.page-book.dark {
	background-image:url(images/bg-dark.jpg);
}
/* left 
.left {
	position:absolute;
	left:0;
	top:0;
	width:200px;
	z-index:2;
}*/
.logo {
	display:block;
	position:absolute;
	width:275px;
	height:60px;
	top:15px;
	left:10px;
	text-indent:-9999px;
	background:url(/local/templates/.default/markup/i/logo_1.png) no-repeat 0 0;
	z-index:2;
}
.back_lc {
	display:block;
	width:80px;
	height:80px;
	background:url(images/back-lс.png) no-repeat 50% 14px #0087A9;
	color:#fff;
	padding-top:43px;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	text-align:center;
	font-size:10px;
	line-height:10px;
	text-decoration:none;
}
.toggle-left-tools {
	width:80px;
	height:32px;
	cursor:pointer;
	background:url(images/toggle-left-tools.png) no-repeat 50% 4px #4F686E;
}
.toggle-left-tools.close {
	background:url(images/toggle-left-tools.png) no-repeat 50% -26px #8FA6AC;
}
.turn-page {
	background:url(images/scale-page.png) no-repeat 50% 10px #8FA6AC;
	padding-top:37px;
	display: block;
	height: 61px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align:center;
	cursor: pointer;
	position: relative;
	background-color: #8FA6AC;
	z-index: 1002;
	width: 80px;
	font-size: 10px;
	display:none;
	float: right;
	position: absolute;
	right: 0;
	top: 0;
	color: #3b4549;
}
.turn-page:after {
	content: '';
	display: block;
	clear: both;
	height: 1px;
	bottom: 0px;
	position: absolute;
	background: #6C8B92;
	left: 5px;
	right: 5px;
}
.turn-page.active{
	display:block;
}
.left-tools {
	overflow-y:hidden;
	position: absolute;
	left: 50%;
	top: 93px;
	margin-left:420px;
	width:200px;
	z-index:300;
}
.left-tools ul {
	margin:0;
	padding:0;
	list-style:none;
	width:80px;
}
.left-tools>ul>li {
	height:61px;
	font-size:10px;
	line-height:10px;
	text-align:center;
	position:relative;
}
.left-tools>ul>li>span,
.left-tools>ul>li>a {
	display:block;
	height:61px;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:0 5px;
	padding-top:40px;
	cursor:pointer;
	position:relative;
	background-color:#8FA6AC;
	z-index:2;
	text-decoration:none;
	color:#3b4549;
}
.left-tools>ul>li>a:hover {
	color:#3b4549;
}
.left-tools>ul>li>span:after {
	content:'';
	display:block;
	clear:both;
	height:1px;
	bottom:0px;
	position:absolute;
	background:#6C8B92;
	left:5px;
	right:5px;
}
.left-tools>ul>li:last-child>span:after {
	display:none;
}
.left-tools .scale {
	background:url(images/scale.png) no-repeat 50% 10px #8FA6AC;
	cursor:default;
}
.left-tools .bookmark-tools {
	background:url(images/bookmark-left.png) no-repeat 50% 10px #8FA6AC;
}
.left-tools .scale-page {
	background:url(images/scale-page.png) no-repeat 50% -68px #8FA6AC;
	padding-top:37px;
}
.left-tools .rotate {
	background:url(images/rotate.png) no-repeat 50% 10px #8FA6AC;
	cursor:default;
}
.left-tools .save {
	background:url(images/save-left.png) no-repeat 50% 7px #8FA6AC;
	padding-top:35px;
}
.left-tools .question {
	background:url(images/question-left.png) no-repeat 50% 7px #8FA6AC;
	padding-top:35px;
}
.left-tools .themes {
	background:url(images/theme.png) no-repeat 50% 10px #8FA6AC;
	padding-top:37px;
}
.left-tools .themes.dark {
	background-position:50% -68px;
}

.left-tools .scale:before,
.left-tools .rotate:before {
	content:'';
	display:block;
	clear:both;
	width:6px;
	height:6px;
	position:absolute;
	right:5px;
	bottom:3px;
	background:url(images/more.png) no-repeat 0 0;
}
.left-tools>ul>li>ul {
	position:absolute;
	height:30px;
	width:100px;
	overflow:hidden;
	left:-80px;
	bottom:3px;
	z-index:1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.left-tools>ul>li>ul li {
	float:left;
	padding:1px;
	background:#6C8B92;
}
.left-tools>ul>li>ul li span {
	display:block;
	width:31px;
	height:28px;
	line-height:28px;
	cursor:pointer;
}
.left-tools>ul>li>ul li span:hover {
	background-color:#8FA6AC;
}
.left-tools .increase {
	background:url(images/scale.png) no-repeat 50% 3px;
}
.left-tools .reduce {
	background:url(images/scale.png) no-repeat 50% -75px;
}
.left-tools .rotate-left {
	background:url(images/rotate.png) no-repeat 50% -153px;
}
.left-tools .rotate-right {
	background:url(images/rotate.png) no-repeat 50% -74px;
}
.left-tools .scale-status {
	font-size:16px;
	color:#fff;
}
/* end left */
/* right */
.right {
	position:absolute;
	right:0;
	top:0;
	z-index:2;
	width:312px;
}
.top-right-tools {
	height:78px;
	float:right;
	width:auto;
	overflow:hidden;
}
.top-right-tools ul {
	list-style:none;
	margin:0;
	padding:0;
}
.top-right-tools ul li {
	float:left;
	background:#fff;
	position:relative;
}
.top-right-tools ul li .loading-book {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:url(images/preloader_small.gif) 50% 50% no-repeat;
	display:none;
}
.top-right-tools ul li .loading-book div {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	bottom:0;
	line-height:16px;
	padding-top:22px;
	font-size:11px;
	text-align:center;
	color:tomato;
	background:rgba(255,255,255,0.7);
}
.top-right-tools ul li span {
	display:block;
	width:78px;
	height:27px;
	padding-top:51px;
	cursor:pointer;
	font-size:12px;
	line-height:12px;
	text-align:center;
	letter-spacing:-0.05em;
	color:#0087A9;
}
.top-right-tools ul li span:hover {
	background-color:#C5E9EF;
}
.top-right-tools ul li span.active {
	color:#fff;
	background-color:#0087A9;
}
.top-right-tools ul li a {
	text-decoration:none;
}
.top-right-tools .toggle-right-tools {
	background:url(images/toggle-right-tools.png) no-repeat 50% 15px #4F686E;
}
.top-right-tools .properties-book {
	background:url(images/properties.png) no-repeat 50% -63px;
}
.top-right-tools .properties-book.active {
	background-position:50% 23px;
}
.top-right-tools .search-book {
	background:url(images/search-book.png) no-repeat 50% -58px;
}
.top-right-tools .search-book.active {
	background-position:50% 21px;
}
.top-right-tools .favorite-book {
	background:url(images/favorite-book.png) no-repeat 50% -58px;
}
.top-right-tools .favorite-book.active {
	background-position:50% 21px;
	background-color:transparent;
	color: #0087A9;
}
.top-right-tools .favorite-book.active:hover {
	background-color:#C5E9EF;
}
.top-right-tools .save-book {
	background:url(images/save-book.png) no-repeat 50% 21px;
}
.top-right-tools .toggle-right-tools.close {
	background:url(images/toggle-right-tools.png) no-repeat 50% -26px #8FA6AC;
}
.right-tools {
	width:100%;
	clear:right;
	float:right;
	height:auto;
	background:#fff;
	overflow:hidden;
}
.right-tools ul {
	list-style:none;
	margin:0;
	padding:0;
}
.right-tools ul li {
	background:#8FA6AC;
}
.right-tools ul li span {
	display:block;
	width:42px;
	height:34px;
	cursor:pointer;
}
.right-tools .miniatures {
	background:url(images/miniatures.png) no-repeat 5px 50% #0088AC;
}
.right-tools .note {
	background:url(images/note.png) no-repeat 5px 4px #0088AC;
}
.right-tools .bookmark {
	background:url(images/bookmark.png) no-repeat 5px 50% #0088AC;
}
.right-tools .quote {
	background:url(images/quote.png) no-repeat 5px 50% #0088AC;
}
.right-tools .search {
	background:url(images/search.png) no-repeat 5px 50% #0088AC;
}
.right-tools>div>span {
	display:block;
	padding-left:35px;
	height:30px;
	line-height:30px;
	color:#fff;
	font-size:14px;
	cursor:pointer;
	position:relative;
}
.right-tools>div>span:after {
	content:'';
	display:block;
	position:absolute;
	right:0;
	top:0;
	width:30px;
	height:30px;
	background:url(images/arrows.png) no-repeat 50% 8px;
}
.right-tools>div>span.active:after {
	background-position:50% -23px;
}

.properties-book-content {
/*border-left:8px solid #8FA6AC;*/
	padding:17px 15px 5px 10px;
	background:#fff;
	display:none;
	overflow:auto;
	border-top:7px solid #0087A9;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.properties-book-content h2 {
	font-size:14px;
	font-weight:normal;
	color:#0086a6;
	margin:0;
	margin-bottom:20px;
}
.properties-book-content>div {
	margin-bottom:15px;
}
.properties-book-content>div h3 {
	margin:0;
	margin-bottom:10px;
	font-weight:normal;
	color:#0086a6;
	font: 12px 'Open Sans', sans-serif;
}
.properties-book-content>div span {
	font-size:12px;
}
.properties-book-content .year h3,
.properties-book-content .place h3 {
	display:inline-block;
	margin-bottom:0;
}

.miniatures-content {
	background:#fff;
	display:none;
	position:relative;
	overflow-y:auto;
}
.miniatures-content:after {
	content: '';
	display: block;
	clear: both;
	width: 8px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #8FA6AC;
}
.miniatures-top {
	position:relative;
	padding:13px 60px 15px 60px;
	width:120px;
	margin:0 auto;
}
.miniatures-top:after {
	content:'';
	display:block;
	clear:both;
	width:8px;
	height:100%;
	position:absolute;
	top:0;
	left:-36px;
	background:#8FA6AC;
}
.miniatures-content h2 {
	font-size:14px;
	font-weight:normal;
	color:#0086a6;
	margin:0;
	margin-bottom:12px;
	text-align:center;
}
.miniatures-content .prev {
	height:20px;
	background:url(images/top.png) no-repeat 0 0;
	cursor:pointer;
	opacity:0.8;
}
.miniatures-content .prev.end {
	opacity:0.8;
	cursor:default;
}
.miniatures-content .prev:hover {
	opacity:1;
}
.miniatures-content .next {
	height:20px;
	background:url(images/bottom.png) no-repeat 0 0;
	cursor:pointer;
	opacity:0.8;
}
.miniatures-content .next.end {
	opacity:0.8;
	cursor:default;
}
.miniatures-content .next:hover {
	opacity:1;
}
.miniatures-content .miniatures-images {
	padding:0 60px 0 60px;
	position:relative;
	overflow-y:hidden;
}
.miniatures-content .miniatures-images:after {
	content:'';
	display:block;
	clear:both;
	width:8px;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:#8FA6AC;
}
.miniatures-content .miniatures-images span {
	display:block;
	width:120px;
	height:160px;
	margin:0 auto;
	margin-bottom:8px;
	position:relative;
	cursor:pointer;
	background:#EBF4FD;
}
.miniatures-content .miniatures-images span:before {
	content:'';
	display:block;
	width:51px;
	height:51px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-25px;
	margin-left:-25px;
	background: url(images/logo.png) no-repeat 0 0 #0087A9;
	-webkit-animation-name: preview;
	-webkit-animation-duration: 900ms;
	-webkit-animation-iteration-count: 100;
	-webkit-animation-direction: alternate;
	-moz-animation-name: preview;
	-moz-animation-duration: 900ms;
	-moz-animation-iteration-count: 100;
	-moz-animation-direction: alternate;
	animation-name: preview;
	animation-duration: 900ms;
	animation-iteration-count: 100;
	animation-direction: alternate;
}
@keyframes preview {
0% {
	border-radius:0;
}
100% {
	border-radius:50px;
}
}
@-webkit-keyframes preview {
0% {
	border-radius:0;
}
100% {
	border-radius:50px;
}
}
.miniatures-content .miniatures-images span:last-child {
	margin-bottom:0;
}
.miniatures-content .miniatures-images span.active {
	cursor:default;
}
.miniatures-content .miniatures-images span.active:after {
	content:'';
	display:block;
	clear:both;
	width:8px;
	height:100%;
	position:absolute;
	background:#00A3BC;
	left:-96px;
	top:0;
	z-index:2;
}
.miniatures-content .miniatures-images span img {
	display:none;
	position:relative;
	z-index:3;
}
.miniatures-content img {
	width:100%;
	height:100%;
}
.miniatures-bottom {
	position:relative;
	padding:15px 60px 8px 60px;
	width:120px;
	margin:0 auto;
}
.miniatures-bottom:after {
	content:'';
	display:block;
	clear:both;
	width:8px;
	height:100%;
	position:absolute;
	top:0;
	left:-36px;
	background:#8FA6AC;
}

.quote-content {
	background:#fff;
	display:none;
	min-height:20px;
	overflow-y:auto;
}
.quote-content>div {
	position:relative;
}
.quote-content>div:nth-of-type(2n) {
	background:#EBF4FD;
}
.quote-content>div a {
	display:block;
	font-size:13px;
	cursor:pointer;
	padding:5px 35px 5px 20px;
}
.quote-content>div a span {
	display:inline-block;
	vertical-align:middle;
}
.quote-content>div a img {
	vertical-align:middle;
}
.quote-content>div .delete {
	display:block;
	cursor:pointer;
	opacity:0.8;
	position:absolute;
	right:0;
	top:0;
	width:30px;
	height:100%;
	background-image:url(images/delete.png);
	background-position:50% 50%;
	background-repeat:no-repeat;
}
.quote-content>div .delete:hover {
	opacity:1;
	background-color:#ffdddd;
}
.note-content {
	display:none;
	background:#fff;
	min-height:20px;
	overflow-y:auto;
}
.note-content>div {
	position:relative;
}
.note-content>div a {
	display:block;
	padding:10px 35px 10px 20px;
	font-size:13px;
	cursor:pointer;
}
.note-content>div a span {
	overflow:hidden;
	display: inline-block;
	max-width: 100%;
	text-overflow: ellipsis;
}
.note-content>div:nth-of-type(2n) {
	background:#EBF4FD;
}
.note-content>div .delete {
	display:block;
	cursor:pointer;
	opacity:0.8;
	position:absolute;
	right:0;
	top:0;
	width:30px;
	height:100%;
	background-image:url(images/delete.png);
	background-position:50% 50%;
	background-repeat:no-repeat;
}
.note-content>div .delete:hover {
	opacity:1;
	background-color:#ffdddd;
}
.bookmark-content {
	display:none;
	background:#fff;
	min-height:20px;
	overflow-y:auto;
}
.bookmark-content>div {
	position:relative;
}
.bookmark-content>div a {
	display:block;
	padding:10px 35px 10px 20px;
	font-size:13px;
	cursor:pointer;
}
.bookmark-content>div:nth-of-type(2n) {
	background:#EBF4FD;
}
.bookmark-content>div .delete {
	display:block;
	cursor:pointer;
	opacity:0.8;
	position:absolute;
	right:0;
	top:0;
	width:30px;
	height:100%;
	background-image:url(images/delete.png);
	background-position:50% 50%;
	background-repeat:no-repeat;
}
.bookmark-content>div .delete:hover {
	opacity:1;
	background-color:#ffdddd;
}
.search-book-content {
	background:#C5E9EF;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding-top:15px;
	padding-bottom:15px;
	display:none;
}
.search-book-content input[type=text] {
	border:none;
	padding:0 3px;
	height:24px;
	line-height:24px;
	margin-right:5px;
	width:200px;
	margin-left:20px;
}
.search-book-content input[type=submit] {
	height:24px;
	line-height:24px;
	border:none;
	background:#0087A9;
	color:#fff;
	text-decoration:underline;
	padding:0 5px;
	cursor:pointer;
	width:55px;
}
.search-book-content input[type=submit]:hover {
	text-decoration:none;
}
.search_result {
	padding-left:20px;
	overflow: auto;
	margin-right: 20px;
	margin-top: 15px;
}
.search_result.empty {
	margin:0;
}
.search_result a {
	cursor:pointer;
	display:block;
}
.search_result>div {
	padding:3px 5px;
	background:#fff;
}
.search_result>div:nth-of-type(2n) {
	background:#EBF4FD;
}
/* end right */

/* main */
.main {
	width:100%;
	padding-bottom:430px;
}
.main:after {
	content:'';
	display:block;
	clear:both;
	width:100%;
	height:1px;
	background:#0087A9;
	position:absolute;
	top:78px;
	left:0;
}
.main.padding-bottom {
	padding-bottom:80px;
}
.view-content {
	position:relative;
	
}
.main .prev-page,
.main .next-page {
	width:40px;
	height:60px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-500px;
	margin-top:-180px;
	background:url(images/left.png) no-repeat 50% 50%;
	opacity:0.8;
	cursor:pointer;
	z-index:2;
}
.main.padding-bottom .prev-page,
.main.padding-bottom .next-page {
	margin-top:-30px;
}
.main .prev-page.left {
	left:90px;
}
.main .prev-page.end,
.main .next-page.end {
	opacity:0.6;
	cursor:default;
}
.main .prev-page:hover,
.main .next-page:hover {
	opacity:1;
}
.main .next-page {
margin-left:460px;
	background:url(images/right.png) no-repeat 50% 50%;
}

.book-title {
	margin:0 auto 25px auto;
	padding-top:20px;
	width:560px;
	color:#9cb8c1;
	text-align:center;
	font-size:13px;
	height:48px;
	overflow:hidden;
	text-overflow:ellipsis;
}
.view-page {
	width:800px;
	margin:0 auto;
	position: relative;
}
.add-bookmark {
	position:absolute;
	top:0;
	right:200px;
	width:13px;
	height:38px;
	padding:10px;
	border-radius:0 0 5px 5px;
	background:url(images/bookmark-page.png) no-repeat 50% 7px #fff;
	z-index:999;
	cursor:pointer;
	opacity:0.7;
}
.add-bookmark.active {
background-position:50% -68px;
}
.add-bookmark:hover {
	opacity:1;
}
.jcrop-holder {
background:transparent !important;
}
.preloader {
	width:121px;
	height:121px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-60px;
	margin-left:-60px;
	background:url(images/preloader_1.gif) no-repeat 0 0;
	display:none;
	z-index:1002;
}

.navigation {
	display:inline-block;
	position:absolute;
	bottom:360px;
	left:50%;
	margin-left:-150px;
}
.main.padding-bottom .navigation {
	bottom:10px;
}
.navigation {
	display:block;
}
.navigation.open {
	display:block;
}
.navigation:after {
	content:'';
	display:block;
	clear:both;
}
.navigation ul {
	list-style:none;
	margin:0;
	padding:0;
	display:inline-block;
	margin-top:7px;
	vertical-align:top;
}
.navigation ul li {
	float:left;
	color:#95a5aa;
	font-size:16px;
}
.navigation span {
	display:block;
	padding:1px 5px;
	text-decoration:underline;
	cursor:pointer;
}
.navigation span:hover {
	text-decoration:none;
	opacity:1;
}
.navigation span.end {
	opacity:0.6;
	cursor:default;
}
.navigation span.active {
	color:#0086a6;
	cursor:default;
	text-decoration:underline;
}
.navigation .first {
	width:34px;
	height:18px;
	background:url(images/navigation.png) no-repeat 0 0;
	margin-right:12px;
	padding:0;
	opacity:0.8;
}
.navigation .prev {
	width:20px;
	height:18px;
	background:url(images/navigation.png) no-repeat 0 -24px;
	margin-right:9px;
	padding:0;
	opacity:0.8;
}
.navigation .next {
	width:20px;
	height:18px;
	background:url(images/navigation.png) no-repeat 0 -48px;
	margin-left:9px;
	padding:0;
	opacity:0.8;
}
.navigation .last {
	width:34px;
	height:18px;
	background:url(images/navigation.png) no-repeat 0 -72px;
	margin-left:12px;
	padding:0;
	opacity:0.8;
}
.navigation .toggle-page-navigation {
	width:30px;
	height:30px;
	padding:0;
	display:inline-block;
	margin-left:18px;
	background:url(images/toggle-page-navigation.png) no-repeat 50% 50% #8FA6AC;
}
.navigation .toggle-page-navigation.active {
	background-color:#4F686E;
	cursor:pointer;
}
.navigation .page-navigation {
	position:absolute;
	height:20px;
	padding:5px 0;
	width:200px;
	top:-30px;
	right:-85px;
	background:#8FA6AC;
	display:none;
}
.navigation .page-navigation.active {
	display:block;
}
.navigation .page-navigation label {
	color:#ededed;
	font-size:12px;
	line-height:20px;
	float:left;
	margin:0 5px;
	width:auto;
}
.navigation .page-navigation input {
	height:20px;
	padding:0 3px;
	border:none;
	width:44px;
	background:#fff;
	vertical-align:top;
	float:left;
}
.navigation .page-navigation .go {
	display:inline-block;
	padding:0;
	width:20px;
	height:20px;
	background:url(images/go.png) no-repeat 50% 50%;
	opacity:0.8;
}
.navigation .page-navigation .go:hover {
	opacity:1;
}
/* end main */

/* footer */
.footer {
	width: 100%;
	color: #76797c;
	background: #eaf2f2;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 35px 0 33px;
	min-width: 970px;
	border-top:1px solid #0087A9;
	z-index:2;
}
.footer.close {
	display:none;
}
.footer-content {
	width: 940px;
	margin: 0 auto;
}
.footer-top:after {
	content:'';
	display:block;
	clear:both;
}
.footer-logo {
	float: left;
	margin-right: 22px;
}
.footer-menu {
	list-style-type: none;
	float: left;
	font-size: 14px;
	min-width: 100px;
	margin-top: 2px;
	padding-left:30px;
}
.footer-menu li {
	margin-bottom: 0.7em;
}
.footer-menu li a {
	color: #76797c;
	text-decoration: underline;
	font-family: "Open Sans",sans-serif,Arial !important;
	letter-spacing:0.032em;
}
.footer-bottom {
	margin-top:26px;
}
.footer .copy {
	float: left;
	width: 450px;
	font-family: 'PT Sans', sans-serif;
	font-size: 0.6875em;
	margin: 32px 0 0 48px;
	line-height: 1.2em;
	letter-spacing:-0.03em;
}
.footer .support {
	float: right;
	width: 325px;
	margin-top: 30px;
	line-height: 24px;
}
.footer .create {
	font-family: 'PT Sans', sans-serif;
	font-style: italic;
	font-size: 0.875em;
	font-size:13px;
	margin-bottom: 8px;
}
.footer-small {
	position:absolute;
	right:10px;
	bottom:20px;
	display:none;
}
.footer-small.open {
	display:block;
}
/* end footer */

.viewer {   
	width:800px;
	height:1000px;
	text-align:center;
}
.viewer img {
	width:auto;
	max-height:850px;
	max-width:720px;
	height:auto;
}

#selectedrect{
	border: 2px solid #20869C;
	background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.25);
	z-index:300;
	display:none;
	top:150px;
	position:absolute;
	
}

#selected_rect_menu{
	bottom: 10px;
	margin-left: 4px;
	left:100%;
	position: absolute;
	font: 16px/1em "Open Sans",sans-serif,Arial;
background:#fff;
border: 1px solid #bebcb8;

}

#selected_rect_menu a {
display: block;
text-decoration: none;
color: #bbb094;
font-size: 0.75em;
position: relative;
padding: 12px 10px 12px 45px;
letter-spacing: -0.02em;
background: #fff;
z-index: 2;
white-space:nowrap;
background: url('images/ico_quote_left.png') 10px 10px no-repeat;
}
#selected_rect_menu a:hover {
background-color: #f5e9ca;
}
#selected_rect_menu a#b-textLayer_notes {
background-image:url('images/ico_edit.png');
}
#selected_rect_menu:before, #selected_rect_menu:after {
content: ' ';
bottom: -9px;
left: 0;
width: 0;
height: 0;
border-style: solid;
position: absolute;
border-width: 9px 0 9px 12px;
}
#selected_rect_menu:after {
border-color: transparent transparent transparent #fff;
}
#selected_rect_menu:before {
border-color: transparent transparent transparent #bebcb8;
border-width: 10px 0 10px 14px;
bottom: -11px;
left: -1px;
}

.layer_notes {
position:absolute;
bottom:-166px;
left:100%;
width:270px;
margin-left:4px;
}
.layer_notes textarea {
width:100%;
resize:none;
height:130px !important;
box-sizing:border-box;
-moz-box-sizing:border-box;
}
.layer_notes input {
margin-top:5px;
height:30px;
width:100%;
text-align:center;
background: #00b0f2;
opacity:0.7;
border:none;
cursor:pointer;
font-weight:bold;
color:#fff;
}
.layer_notes input:hover {
opacity:1;
}

 .crop-area {
	position: absolute;
	border: 1px dashed black;
	background: #F5DEB3;
	opacity: 0.3;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
}

.quote-content img{
	max-width:100px;
	max-height:100px;

}
.zoomer {
background:none !important;
}
.zoomer-holder {
	box-shadow: 0 5px 20px -2px #999c9f;
}
/* форма авторизации*/
.b-headernav_login {
  min-width: 550px;
	position: absolute;
right: auto;
left: 80px;
top: 9px;
/*left:874px;
top:50px;
*/
display:none;
z-index:999;
}
.b-headernav_login .popup { 
display: block;
padding: 16px 30px 30px 40px;
background: #fff;
height: 272px;
}
header a.b-headernav_login_lnk {
  display: inline-block;
  font-size: 0.875em;
  line-height:1.785em;
  text-decoration:none;
  white-space:nowrap;
  color: #1c1a19;
  font-weight:600;
  margin-left: -5px;
  padding: 15px 20px 11px 20px;
  background:#d6e0e0;
}
a.b-headernav_login_lnk:hover { color: #767c7c; }
.b-header_lang { margin: 15px 10px 0 0; }
.b-header_lang  a {
  color: #4c4c4c;
  font-size: 0.875em;
  line-height: 1.605em;
  width: 20px;
  height: 23px;
  padding: 0 5px;
  margin-right: 10px;
  font-weight:600;
  letter-spacing:0.01em;
  text-decoration:none;
}
.b-header_lang  a.ru { 
   background: url('../i/icons.png') -380px 3px no-repeat;
}
a.b-headernav_login_lnk.current{ background: #f06735; color:#ffffff;font-weight: bold; }
.b-headernav-apps { padding-top: 12px; margin: 0 10px 0 0px;  }
header a.b-headernav_lnk {
  color: #1c1a19;
  font-size: 1em;
  line-height:1.5625em;
  text-transform: uppercase;
  margin-right: 0.75em;
  font-weight: 700;
  text-decoration:none;
}
a.b-headernav_lnk.current, a.b-headernav_lnk:hover { color: #767c7c; }
header a.b-headerapps_lnk {
  font-size: 0.875em; 
  color: #4c4c4c;
  margin-left: 6px;
  vertical-align: middle;
}
.b-headernav-apps:hover a.b-headerapps_lnk { color: #767c7c; }
.b-headerapps_img {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background: url('../i/appstore.png') 0 0 no-repeat;
  width: 72px; height: 23px;
}
.b-headernav-apps:hover .b-headerapps_img { background-position: bottom left; }

.b-headerapps_img span {
  position: absolute;
  background: #f06735;
  color: #fff;
  font-size: 0.75em;
  width: 18px; height: 18px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  top: -7px; left: -7px;
  font-family: 'PT Sans', sans-serif;
}
.input, .textarea, textarea.textarea { 
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	display: block; background: rgba(255,255,255,1); border: solid 1px #c3cccf; width: 100%;
	font-size: 1em; padding: 0 10px; height: 50px; line-height: 40px; 
   
	-webkit-box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.13);
	box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.13);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	resize: none;
  
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;

} 
.popup { font-family: "Open Sans",Arial,sans-serif;}
 .b_login_popup:before, .b_login_popup::after {
	content: ''; 
	position: absolute;
	right: 37px; top: -20px;
	border: 10px solid transparent;
	border-bottom: 10px solid #c8cdce;
   }
 .b-passrform:before, .b-passrform::after {
	content: ''; 
	position: absolute;
	right: -20px; top: 17px;
	border: 10px solid transparent;
	border-left: 10px solid #c8cdce;
   }
.b-passrform:after { border-left: 10px solid white; right: -19px; top: 17px;}

.b_login_popup:after { border-bottom: 10px solid white; top: -19px; }
.b_login_popup h4 { margin-bottom: 20px; letter-spacing: -0.03em; font-size:  0.875em; }
.b_login_popup .b-login_social h4 { margin: 0 -10px 30px -5px; }
.b_login_popup_in { position: relative;   /*width: 550px;*/ padding:0;}
.b_login_popup_in .b-login_social { height: 225px; }
.b_login_popup_in .vklink { background: #486c92; }
.b_login_popup_in .odnlink { background: #f68736; }
.b_login_popup_in .fblink { background: #3b5998; }
.b_login_popup_in .esialink {	
	background: rgb(43,120,212); /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJiNzhkNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZjU4YTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(43,120,212,1) 0%, rgba(31,88,162,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(43,120,212,1)), color-stop(100%,rgba(31,88,162,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(43,120,212,1) 0%,rgba(31,88,162,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(43,120,212,1) 0%,rgba(31,88,162,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(43,120,212,1) 0%,rgba(31,88,162,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(43,120,212,1) 0%,rgba(31,88,162,1) 100%); /* W3C */
 }

.b_login_popup_in .error_message { color: #f06e5c;
	font-size: 0.875em;
	line-height: 1em;
	display:inline-block;
	vertical-align:top;}

.b-loginform .fieldcell { width: 240px; }
.b-login_social { width: 168px; padding-left: 36px; border-left: 1px solid #dbdedf; }
.b-loginform { width: 261px; }
.b-login_txt { margin-bottom: 27px; }
.b-login_txt a { font-size: 0.875em; color: #545352; text-decoration: underline; margin-right: 28px; } 
.b-login_txt a:hover { text-decoration: none; }
.b-login_social .b-login_slnk  { 
  display: block;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 16px;
  font: bold 0.9375em/31px 'PT Sans', sans-serif;
  position: relative;
  padding-left: 42px;
  min-height:31px;

}
.b-login_social .b-login_slnk.esialink {line-height:38px; min-height:38px; padding-left:55px;}
.b-login_slnk:before {
  content: ' ';
  width: 33px; height: 31px;
  border-right: 1px solid #fff;
  display: block;
  position: absolute;
  top: 0; left: 0;
  background: url("/local/templates/.default/markup/i/icons.png") no-repeat -341px 7px;
}
.b-login_slnk.esialink:before {border-right:0 none; width:40px; height:38px;}
.b-login_slnk:hover { color: #fff; opacity: 0.7; filter: alpha(opacity=70); }

.b-line_social .b-login_slnk.vklink { background: #486c92;}
.b-line_social .b-login_slnk.odnlink { width: 95px; background: #f68736;}
.b-line_social .b-login_slnk.fblink { background: #3b5998; }
.b-line_social .b-login_slnk.esialink {
	background: rgb(43,120,212); /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJiNzhkNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZjU4YTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(43,120,212,1) 0%, rgba(31,88,162,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(43,120,212,1)), color-stop(100%,rgba(31,88,162,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(43,120,212,1) 0%,rgba(31,88,162,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(43,120,212,1) 0%,rgba(31,88,162,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(43,120,212,1) 0%,rgba(31,88,162,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(43,120,212,1) 0%,rgba(31,88,162,1) 100%); /* W3C */
}


.b-login_slnk.vklink:before { background-position: -341px 7px; }
.b-login_slnk.odnlink:before { background-position: -341px -25px; }
.b-login_slnk.fblink:before { background-position: -341px -54px; }
.b-login_slnk.esialink:before { background-position: -341px -83px; }


.b_login_popup_in .notitle { font-size: 1.125em; color: #76797c; text-transform: none; margin: 0 14px 0 40px;}
.b_login_popup_in label { letter-spacing: -0.04em; font-family: 'PT Sans', sans-serif; display: block; margin-bottom: -4px; }
.b_login_popup_in input[type="text"], .b_login_popup_in input[type="password"] { font-size: 0.875em; height: 28px; line-height: 28px;  }
.b_login_popup_in .fieldrow  {  }

.b-passrform {
   background: #fff;
  border: 1px solid #cedadd;
  border-top: 3px solid #f06735;
  position: absolute;
  bottom: -110px;left: -204px;
  width: 243px;
  z-index:1;
  padding: 16px 36px 17px;
  min-height: 153px;
  -webkit-box-shadow: 3px 0 6px rgba(0,0,0,0.28);
  box-shadow: 3px 0 6px rgba(0,0,0,0.28);
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: none;
}
.b-passrecoveryform { font-family: "Open Sans",Arial, }
.b-warning { font: 600  0.875em "Open Sans",Arial; color: #eb5c32; }
.b-passconfirm { letter-spacing: 0.07em; color: #76797c; font-size: 1.125em; margin-top: 44px; line-height: 1.35em; }
.b-passrecoveryform label  { font-family: "Open Sans",Arial,sans-serif; margin-bottom: 6px; }
.b-passrecoveryform .fieldrowaction  { margin-top: 12px; }
.b-passrecoveryform .formbutton { width: 140px; }


.b-line_social { border-top: 1px solid #c8c9ca;}
.b-line_social .b-login_slnk { 
  display: inline-block;
  width: 66px;
  padding-left: 35px;
  line-height: 25px;
  font-size: 12px;
  color: #fff;
  position: relative;
 }
.b-line_social .b-login_slnk:before { width: 27px; height: 25px; }
.b-line_social .b-login_slnk + .b-login_slnk { margin-left: 13px; }
.b-line_social .b-login_slnk.vklink:before { background-position: -407px 6px; }
.b-line_social .b-login_slnk.odnlink:before { background-position: -407px -20px; }
.b-line_social .b-login_slnk.fblink:before { background-position: -344px -57px; }
.b-lineinfo { border-top: 1px solid #c8c9ca; margin: 36px 0 0; padding: 0; }
.b-lineinfo h5 {
  color: #929495;
  font-weight: normal;
  font-size: 0.75em;
  margin: 0px 0 15px;
  line-height: 23px;
}
.b-lineinfolist {
  list-style-type: none;
  font-size: 0.875em;
  line-height: 25px;
}
.selected_slider .b-favside_img { width: 211px; }
.selected_slider .b-favside_img img { margin: 0 auto;}
.selected_slider h2 {
  color: #1c1a19;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1.3em;
  margin: -3px 0 8px;
}
.selected_slider { width: 850px; margin-bottom: 20px; }
.selected_slider .slick-prev, .selected_slider .slick-next {
  height: 55px;
  left: 0;  
  top: 22%;
  width: 47px;
  z-index: 1;
}
.selected_slider .slick-prev {  left: -72px;  background: url("../i/arrow_l.png") no-repeat 0 10px; }
.selected_slider .slick-next { right: -11px; left: auto;  background: url("../i/arrow_r.png") no-repeat 0 10px; }
.field em.error { display: none; }
.field.error em.error { display: block; background: #fff; z-index: 10; cursor: pointer; }
.fieldrowaction {   }
.fieldrowaction .fieldrowaction .fieldcell, .b_login_popup_in .fieldrowaction .fieldcell  { width: auto; margin-right: 0; }
.fieldrowaction .formbutton { height: 38px; width: 100px; margin-top:6px;}
.b-passchge .fieldrowaction .formbutton  { width: 140px; }
.b-passchge .fieldrowaction { margin-top: 25px; }
.field.iblock { margin-right: 4px; }
/* error */ 
.error .inpseltxt, .error .input.error, .no-touch .error .input.error:hover, .error .input.error:focus,
.no-touch .error .input.error:focus:hover, 
.error .selopener.error + .inpseltxt, .error .selopener.error:hover + .inpseltxt,
.error .textarea.error, .no-touch .error .textarea.error:hover, .error .textarea.error:focus, 
.no-touch .error .textarea.error:focus:hover { }
/* disabled */
.input[disabled], .no-touch .input[disabled]:hover, .input[disabled]:focus,
.selopener.disabled + .inpseltxt, .no-touch .selopener.disabled:hover + .inpseltxt { 
	color: rgb(167,167,167); background: #eaf2f2;  }
.selopener.disabled {cursor: default;}

.textarea { font-size: 1em; font-weight: normal; height: 85px; line-height: 1.25em; padding: 9px 0 0 10px; }

/* buttons */
.homepage .formbutton, .formbutton { 
  border: 0;   
  background: #f76825;
  font-size: 1.125em; line-height: 1em; display: inline-block; text-align: center;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  padding: 4px 10px 4px; 
  height: 43px; 
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	color: #e8ebec;
	font-weight: 300;
  cursor: pointer;
  -webkit-appearance: none;
}
.formbutton:hover { background: #fa8851; color: #fff;}
.formbutton.small { font-size: 0.75em; font-weight: 300; background: #ee6334; line-height: 17px; height: 29px;}
a.formbutton.small { line-height: 23px;}
.formbutton.middle { 
  font-size: 1em;
  font-weight: normal;
  height: 24px;
  line-height: 16px;
  text-decoration: none;
}
.innersection .formbtn, .formbtn {
  border: 0; padding: 0;
  background: #007692;
  font-size: 0.875em;
  display: inline-block;
  cursor: pointer;
  min-width: 117px; 
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  line-height: 39px;
  height: 39px; 
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	color: #fff;   
	padding:0 15px;
  -webkit-appearance: none;

}
.fieldrow { margin-left: 0; margin-bottom: 14px; position: relative;}
.fieldcell { white-space: normal; width: 580px; margin: 3px 40px 0 0; color: #531f69; position: relative; }
.b_login_popup { border: 1px solid #c3cccf;  border-radius: 3px; }



@media screen and (max-width:1850px) {
.left-tools {
margin-left:0;
left:10px;
}
}


@media screen and (max-width:1700px) {
.right {
width:260px;
}
.top-right-tools ul li span {
width:65px;
}
.search-book-content input[type=text] {
width:149px;
}
}


@media screen and (max-width:1580px) { 
.main {
position:relative;
left:-80px;
}
.main:after {
left:80px;
}
.main .prev-page {
margin-left:-445px;
}
.main .next-page {
margin-left:405px;
}
}
.note-book {
	position:absolute;
	z-index:999;
	margin-top:-24px;
}
.note-book.hide {
	height:22px !important;
	width:22px !important;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.note-book:hover {
	z-index:1000;
}
.note-icon {
	width:22px;
	height:22px;
	background: url(images/note.png) no-repeat 50% 50% #0088AC;
	border:1px solid #fff;
	cursor:pointer;
}
.note-edit {
	display:block;
	width:22px;
	height:22px;
	border:1px solid #fff;
	background:url(images/edit-save.png) no-repeat 50% 2px #0088AC;
	position:absolute;
	right:0;
	top:23px;
	cursor:pointer;
	opacity:0.8;
	display:none;
}
.note-edit.save {
	background:url(images/edit-save.png) no-repeat 50% -40px #0088AC;
}
.note-edit:hover {
	opacity:1;
}
.note-book:hover .note-edit.visible {
	display:block;
}
.note-book-content {
	border:1px solid #fff;
	background:rgba(255,255,255,0.6);
	position:absolute;
	top:23px;
	bottom:0;
	left:0;
	width:100%;
	text-align:left;
	padding:5px;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	overflow:auto;
	resize:none;
	color:#262626;
	display:none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.note-book.edit .note-book-content {
	background:rgba(255,255,255,0.9);
}
.quote-book {
	position:absolute;
	z-index:999;
	margin-top:-24px;
}
.quote-book.hide {
	height:22px !important;
	width:22px !important;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.quote-book:hover {
	z-index:1000;
}
.quote-icon {
	background: url(images/quote.png) no-repeat 50% 50% #0088AC;
	width:22px;
	height:22px;
	border:1px solid #fff;
	cursor:pointer;
}
.quote-book-content {
	border:1px solid #0087A9;
	background:#EBF4FD;
	opacity:0.6;
	position:absolute;
	top:23px;
	bottom:0;
	left:0;
	width:100%;
	text-align:left;
	padding:5px;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	overflow:auto;
	resize:none;
	color:#262626;
	display:none;
}
.viewer_img {
	display:inline-block;
	position:relative;
}
.close-window {
	width: 20px;
	height: 20px;
	background: url(images/close_window.png) no-repeat 50% 50%;
	position: absolute;
	top: 2px;
	right: 2px;
	cursor: pointer;
	opacity: 0.8;
}



.big_image{
	position:absolute;
	z-index:1001;
	top:0px;
	width:100%;
}
