#tableService .container .row > div {
    padding: 0;
}

#tableService thead tr th {
    color: #5b7357;
}
#tableService div.small {
    font-size: 0.95em;
    color: #4e5d4c;
}
#tableService thead tr {
    background-color: #FFFFff;
}

#tableService tbody tr:nth-child(2n+1) {
    background-color: #f3f3f3;
}
#tableService tbody tr:nth-child(2n) {
    background-color: #ffffff;
}
#tableService tbody tr:hover {
    background-color: #e1e4d9 !important;
    color: #000;
}
.glyphicon.glyphicon-sort-by-attributes,
.glyphicon.glyphicon-sort-by-attributes-alt {
    cursor: pointer;
}
#resultServicesList {
    min-height: 50px;
}