.example3 {
    display:inline-block;
    position:relative;
}
.example3 .example_text {
    display:block;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color:black;
    padding:10px;
    background-color:rgba(0,0,0,.2);
    background: linear-gradient(to top, rgb(243, 243, 243), rgba(255, 255, 255, 0.18));
    top: 0px;


}
.example3 h6 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
}
.example3 span {
    font-size:12px;
}
.example_beauty{

}
.example_text h1{
    margin: 90px 25px 25px 25px!important;

}